<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="account"/>
</block>

<block name="main">
<div class="u_my_acc">
<div class="hd_usr">
    <ul class="hd_nav"><include file="menu" ac="password" /></ul>
</div>
<div class="bd">
  <div class="u_acc_lst">
        <ul class="form_lst form_pwd_mdy">
          <li class="frm">
              <span class="frm_tit">原密码：</span>
                <div class="frm_inp">
                  <input type="text" value="" name="pwd" class="inp" />
                </div>
            </li>
            <li class="frm">
              <span class="frm_tit">新密码：</span>
                <div class="frm_inp">
                  <input type="text" value="" name="npwd" class="inp"/>
                </div>
            </li>
            <li class="frm">
              <span class="frm_tit">确认密码：</span>
                <div class="frm_inp">
                  <input type="text" value="" name="repwd" class="inp"/>
                </div>
            </li>
            <li class="frm">
                <div class="frm_inp frm_btn">
                  <a href="#" class="sbtn sbtn_03">修改</a>
                  <a href="#" class="sbtn sbtn_03">取消</a>
                </div>
            </li>
        </ul>                       
    </div>                    
</div>
</div>
</block>