<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="account"/>
</block>

<block name="main">
<div class="u_my_acc">
<div class="hd_usr">
    <ul class="hd_nav"><include file="menu" ac="password" /></ul>
</div>
<div class="bd">
  <div class="u_acc_lst">
      <form action="{:ZU('user/account/doPassword')}" onsubmit="return $.submitPassword();" method="post">
        <ul class="form_lst form_pwd_mdy">
          <li class="frm">
              <span class="frm_tit">原密码：</span>
                <div class="frm_inp">
                  <input type="password" value="" name="pwd" class="inp pwd" />
                </div>
            </li>
            <li class="frm">
              <span class="frm_tit">新密码：</span>
                <div class="frm_inp">
                  <input type="password" value="" name="npwd" class="inp npwd"/>
                </div>
            </li>
            <li class="frm">
              <span class="frm_tit">确认密码：</span>
                <div class="frm_inp">
                  <input type="password" value="" name="repwd" class="inp repwd"/>
                </div>
            </li>
            <li class="frm">
                <div class="frm_inp frm_btn">
                  <button type="submit" class="sbtn sbtn_03">修改</button>
                  <!-- <a href="#" class="sbtn sbtn_03">修改</a> -->
                  <a href="{:ZU('user/account/index')}" class="sbtn sbtn_03">取消</a>
                </div>
            </li>
        </ul>
      </form>                   
    </div>                    
</div>
</div>
</block>

<block name="js">
<script type="text/javascript">
  jQuery(function($){

    $.extend({
      submitPassword : function()
      {
        var isOk = false;
        var pwd = $('.pwd').val().replace(/\s+/, '');
        var npwd = $('.npwd').val().replace(/\s+/, '');
        var repwd = $('.repwd').val().replace(/\s+/, '');

        if (pwd == '') console.log('密码不允许为空');
        if (npwd == '') console.log('密码不允许为空');
        if (npwd != repwd) console.log('二次密码不一致');

        isOk = true;
        return isOk;
      }
    })
  });
</script>
</block>