<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="account"/>
</block>

<block name="main">
<div class="u_my_photo">
<div class="hd_usr">
    <ul class="hd_nav"><include file="menu" ac="avatar" /></ul>
  </div>
  <div class="bd">
  <!--头像上传控件-->
    <div class="u_phto_sys">
         <div class="phto_tit">
            请选择以下系统推荐的头像，您也可以自己
             <a href="{:ZU('user/account/avatar')}" class="colr_02">上传个性头像</a>
           </div>                             
           <div class="phto_cnt">
            <ul class="pht_sys_lst">
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
                  <li><img src="{:z_img('user/pht_img01')}"/></li>
              </ul>
           </div>                      
      </div>
     <!--//-->                     
  </div>
</div>
</block>