<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="index" />
</block>

<block name="main">
<div class="work_lst">
  <div class="hd_usr">
      <ul class="hd_nav">
         <li class="on">
            <a href="javascript:;">新建作品</a>
         </li>
      </ul>
    </div>
    <div class="bd">                       
        <div class="w_lst_cnt">
           <div class="work_no">
                <?php if(empty($author_info['apply']) && empty($author_info['formal'])):?>
                  <span class="no_stoy">您目前还没有小说！</span>
                <?php else:?>
                  <span class="no_stoy">您当前拥有正式小说：<a href="{:ZU('book/index', 'ZL_AUTHOR_DOMAIN')}"><?php echo count($author_info['formal']);?></a>本</span>
                  <span class="no_stoy">您当前拥有待审核小说：<a href="{:ZU('bookApply/index', 'ZL_AUTHOR_DOMAIN')}"><?php echo count($author_info['apply']);?></a>本</span>
                <?php endif;?>
                <a href="{:ZU('BookApply/add', 'ZL_AUTHOR_DOMAIN')}" class="sbtn sbtn_04">立即新建作品</a>
           </div>        
        </div>
    </div>
</div>      
</block>
