<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$seo.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>
	body {
		padding-top: 50px;
        padding-bottom: 40px;
	}
	</style>
</head>
<body>

	<!-- 公共头部 -->
	<include file="Common@Public/header" />

    <div class="container">
    	<div class="row">
    		<div class="span4"><a href="/"><img src="http://images.zhulang.com/logos/logo20120314.gif" alt=""></a></div>
    		<div class="span4">
    			<a href="" class="brand">热门小说</a>
    			<ul class="inline">
    				<li><a href="###">诛仙</a></li>
    				<li><a href="###">坏蛋是怎样炼成的</a></li>
    				<li><a href="###">此间的少年</a></li>
    			</ul>

    		</div>
    		<div class="span4">
    			<form action="" class="form-search">
    				<input type="text" placeholder="诛仙" class="input-mudium search-query">
    				<button class="btn">搜索</button>
    			</form>
    		</div>
    	</div>

		<div class="navbar" style="margin-top:10px;">
			<div class="navbar-inner">
				<ul class="nav">
					<li class="active"><a href="/">首页</a></li>
					<li><a href="###">vip小说</a></li>
					<li><a href="###">玄幻小说</a></li>
					<li><a href="###">书库</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="span6"><a href="###"><img src="http://images.zhulang.com/ym/fpw468.jpg" alt=""></a></div>
			<div class="span6"><a href="###"><img src="http://images.zhulang.com/201311/20131112c.jpg" alt=""></a></div>
		</div>
		<div class="row" style="margin-top:20px;">
			<div class="span3">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab1" data-toggle="tab">热门推荐</a></li>
						<li><a href="#tab2" data-toggle="tab">全本精选</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab1">
							<ul class="nav">
								<li><a href="">[经典]&nbsp;笑傲江湖</a></li>
								<li><a href="">[玄幻]&nbsp;诛仙</a></li>
								<li><a href="">[武侠]&nbsp;射雕英雄传</a></li>
							</ul>
						</div>
						<div class="tab-pane" id="tab2">
							<ul class="nav">
								<li><a href="">[vip]&nbsp;笑傲江湖</a></li>
								<li><a href="">[vip]&nbsp;蜀山剑侠传</a></li>
								<li><a href="">[vip]&nbsp;天龙八部</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span4">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-hot" data-toggle="tab">热点推荐</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-hot">
							<ul class="nav">
								<li><a href="">什么</a></li>
								<li><a href="">什么什么</a></li>
								<li><a href="">什么什么什么</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="span5">
				<div class="tabbable">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tabt1" data-toggle="tab">vip</a></li>
						<li><a href="#tabt2" data-toggle="tab">新书</a></li>
						<li><a href="#tabt3" data-toggle="tab">军史</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tabt1">
							<ul class="nav">
								<li><a href="">[经典]&nbsp;笑傲江湖</a></li>
								<li><a href="">[玄幻]&nbsp;诛仙</a></li>
								<li><a href="">[武侠]&nbsp;射雕英雄传</a></li>
							</ul>
						</div>
						<div class="tab-pane" id="tabt2">
							<ul class="nav">
								<li><a href="">[vip]&nbsp;笑傲江湖</a></li>
								<li><a href="">[vip]&nbsp;蜀山剑侠传</a></li>
								<li><a href="">[vip]&nbsp;天龙八部</a></li>
							</ul>
						</div>
						<div class="tab-pane" id="tabt3">
							<ul class="nav">
								<li><a href="">[vip]&nbsp;笑傲江湖111</a></li>
								<li><a href="">[vip]&nbsp;蜀山剑侠传111</a></li>
								<li><a href="">[vip]&nbsp;天龙八部1111</a></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>

		<!-- 公共底部 -->
		<include file="Common@Public/footer" />
    </div>


	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	<script type="text/javascript">
		jQuery(function(){

			$.debug('首页');
		});
	</script>
</body>
</html>