<div class="top">
  <div class="tp_logo"><a href="#"><img src="{:z_img('logo')}"></a></div>
  <ul class="tp_lst">
    <li class="tplst_01"><i class="ico_tp01"></i><a href="#">全本小说</a></li>
    <li class="tplst_02"><i class="ico_tp02"></i><a href="#">逐浪女王</a></li>
    <li class="tplst_03"><i class="ico_tp03"></i><a href="#">逐浪无线</a></li>
  </ul>
  <div class="tp_adv"><a href="#"><img src="{:z_img('book/adv')}"></a></div>
  <div class="tp_search">
    <div class="frm">
      <input type="text" value="" class="inp">
      <a href="#" class="btn_sear"></a></div>
    <div class="key"><strong>热搜：</strong><a href="#">唐寅在异界</a><a href="#">唐寅在</a><a href="#">唐寅在界</a><a href="#">唐寅</a></div>
  </div>
</div>