<div class="nav_box">
  <ul class="nav_lst">
    <li <if condition="[nav] eq 'index'">class="active"</if>><a href="#">首页</a></li>
    <li <if condition="[nav] eq 'book'">class="active"</if>><a href="#">书库</a></li>
    <li><a href="#">排行榜</a></li>
    <li><a href="#">社区</a></li>
    <li><a href="#">会员中心</a></li>
    <li><a href="#">充值</a></li>
    <li><a href="#">最近阅读</a></li>
    <li><a href="#">网络编辑</a></li>
    <li><a href="#">作者专区</a></li>
    <li><a href="#">福利</a></li>
    <li><a href="#">客服帮助</a></li>
  </ul>
  <span class="nav_tel"><a href="#"></a></span> 
</div>