<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>用户信息 - {$user_info.user_name}（{$user_info.user_nickname|default="暂未设置"}）</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础信息</a>
					</li>
					<?php if($user_info['user_type'] == '02'):?>
					<li data-tab="tab2">
						<a href="javascript:void(0);">作者信息</a>
					</li>
					<?php endif;?>
					<li data-tab="tab3">
						<a href="javascript:void(0);">充值记录</a>
					</li>
					<li data-tab="tab4">
						<a href="javascript:void(0);">消费记录</a>
					</li>
					<li data-tab="tab5">
						<a href="javascript:void(0);">赠送鲜花记录</a>
					</li>
					<li data-tab="tab6">
						<a href="javascript:void(0);">获赠鲜花记录</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('book/index/doEdit', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1"> 
						<div class="form-item">
							<label class="item-label">
								账户余额<span class="check-tips"></span>
							</label>
							<div class="controls">
								逐浪币：{$user_info.account.amount|default="0"} 
								奖金币：{$user_info.account.bonus|default="0"} (过期时间：{$user_info.account.bonus_expire|default="无"})
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								当月拥有鲜花数 / 剩余鲜花数<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.flower.total_num|default="0"}朵
								 / 
								{$user_info.flower.num|default="0"}朵
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								注册方式<span class="check-tips"></span>
							</label>
							<div class="controls">
								{:ZC(C('USER.reg_type'), $user_info['reg_type'])}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								用户类型<span class="check-tips"></span>
							</label>
							<div class="controls">
								{:ZC(C('USER.type'), $user_info['user_type'])}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								性别<span class="check-tips"></span>
							</label>
							<div class="controls">
								{:ZC(C('USER.sex'), $user_info['user_sex'])}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								邮箱 / 是否验证<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_email} 
								<?php if(!empty($user_info['user_true_email']) && $user_info['user_true_email'] == $user_info['user_email']):?>[已验证]
								<?php else:?>
								[未验证]
								<?php endif;?>
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								用户QQ<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_qq|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								电话<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_telephone|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								生日<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_birthday|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								手机号<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_mobile|default="暂未设置"}
								<?php if($user_info['user_mobi_yz'] == 1):?>
									[已验证]
								<?php endif;?>
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								省 - 市 - 地区<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_province|default="暂未设置"}
								-
								{$user_info.user_city|default="暂未设置"}
								-
								{$user_info.user_area|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								喜欢标签<span class="check-tips"></span>
							</label>
							<div class="controls">
								<?php $tags = ''?>
								<?php foreach($user_info['user_like_tag'] as $val):?>
								<?php $tags .= $val.' , '?>
								<?php endforeach;?>
								{$tags|trim=" , "}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								注册时间<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_join}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								上次登录时间 / 上次登录IP<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_login_time} / {$user_info.user_login_ip}
							</div>
						</div>
			        </div>
					<!-- 作者文档 -->
					<div id="tab2" class="tab-pane tab2">
						<div class="form-item">
							<label class="item-label">
								真实姓名<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_true_name}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								作者笔名<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.author_name}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								身份证号<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_idcard}
							</div>
						</div>	
						<div class="form-item">
							<label class="item-label">
								邮编号<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_zipcode|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								地址<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_address|default="暂未设置"}
							</div>
						</div>				
						<div class="form-item">
							<label class="item-label">
								紧急联系人<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_name_ji|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								紧急联系人与用户关系<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_name_guanxi|default="暂未设置"}
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								紧急联系人电话<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_name_tel|default="暂未设置"}
							</div>
						</div>	
						<div class="form-item">
							<label class="item-label">
								紧急联系人所在城市<span class="check-tips"></span>
							</label>
							<div class="controls">
								{$user_info.user_ji_pro_city|default="暂未设置"}
							</div>
						</div>	
					</div>
			        <!-- 充值记录文档模型 -->
					<div id="tab3" class="tab-pane tab3">
						  
			        </div>
			        <!-- 消费记录文档模型 -->
					<div id="tab4" class="tab-pane tab4">
						<div class="data-table">
							<table>
								<thead>
							        <tr>
									<th class="">消费时间</th>
									<th class="">消费金额</th>
									<th class="">购买数量</th>
									<th class="">购买类型</th>
									<th class="">用途</th>
									<th class="">书名【书号】</th>
									<th class="">购买项目</th>
									</tr>
							    </thead>
							    <tbody>
							    	<?php if(empty($user_info['bill'])):?>
									<tr>
										<td colspan="6">暂时没有记录</td>
									</tr>
								    <?php else:?>
								    <?php foreach($user_info['bill'] as $val):?>
							    	<tr>
							    		<td>{$val.time}</td>
										<td><em class="colr_01">{$val.pay_money}</em></td>
										<td>{:ZC(C('COST.pay_type'), $val['pay_type'])}</td>
										<td>{$val.buy_num}</td>
										<td>{:ZC(C('COST.buy_type'), $val['buy_type'])}购买</td>
										<td><a target="_blank" href="{:ZU('book/index', 'ZL_DOMAIN', array('book_id'=>$val['bk_id']))}"><em class="colr_02">{$val.bk_name}【{$val.bk_id}】</em></a></td>
										<td>
											<?php if($val['buy_type'] == 'A'):?>
											打赏
											<?php else:?>
											<a href="javascript:;" class="colr_02">查看明细</a>
											<?php endif;?>
										</td>
							    	</tr>
								    <?php endforeach;?>
								    <?php endif;?>
							    </tbody>
							</table>
						</div>
			        </div>
			        <!-- 鲜花赠送记录文档模型 -->
					<div id="tab5" class="tab-pane tab5">
						<div class="data-table">
							<table>
								<thead>
							        <tr>
									<th class="">赠送时间</th>
									<th class="">赠送数量</th>
									<th class="">操作IP</th>
									</tr>
							    </thead>
							    <tbody>
							    	<?php if(empty($user_info['send_log'])):?>
									<tr>
										<td colspan="6">暂时没有记录</td>
									</tr>
								    <?php else:?>
								    <?php foreach($user_info['send_log'] as $val):?>
							    	<tr>
							    		<td>{$val.op_time}</td>
										<td><em class="colr_01">{$val.num}</em></td>
										<td>{$val.ip}</td>
							    	</tr>
								    <?php endforeach;?>
								    <?php endif;?>
							    </tbody>
							</table>
						</div>
			        </div>
			        <!-- 获赠鲜花记录文档模型 -->
					<div id="tab6" class="tab-pane tab6">
						<div class="data-table">
							<table>
								<thead>
							        <tr>
									<th class="">获赠时间</th>
									<th class="">获赠数量</th>
									<th class="">获赠时IP</th>
									</tr>
							    </thead>
							    <tbody>
							    	<?php if(empty($user_info['add_log'])):?>
									<tr>
										<td colspan="6">暂时没有记录</td>
									</tr>
								    <?php else:?>
								    <?php foreach($user_info['add_log'] as $val):?>
							    	<tr>
							    		<td>{$val.op_time}</td>
										<td><em class="colr_01">{$val.num}</em></td>
										<td>{$val.ip}</td>
							    	</tr>
								    <?php endforeach;?>
								    <?php endif;?>
							    </tbody>
							</table>
						</div>
			        </div>

					<div class="form-item cf">
						<a class="btn btn-return" href="{:ZU('sel/user/index', 'ZL_ADMIN_DOMAIN')}">返 回</a>
					</div>
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){
	
	showTab();
	$.menu('kefu', 'select', 'user-select');
});
</script>
</block>