<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$seo.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>
		body{padding-top:80px;}
	</style>
</head>
<body>
	  <!-- 公共头部 -->
	  <include file="Common@Public/header" />
	
    <div class="container">
    		
    	<div class="row">
    		<div class="span3">
    			<include file="Public/sidebar" nav="ext"/>
    		</div>
    		<div class="span9">
    			
          <h3>完善个人信息</h3>
          <form action="{:U('user/center/doAddExt')}" class="form-horizontal" method="post">

            <div class="control-group">
              <label for="inputEmail" class="control-label">邮箱</label>
              <div class="controls">
                <input type="text" name="email" placeholder="邮箱" id="inputEmail" value="{$user_info.user_email}"/>
              </div>
            </div>

            <div class="control-group">
              <label for="inputQQ" class="control-label">QQ</label>
              <div class="controls">
                <input type="text" id="inputQQ" name="qq" placeholder="qq" value="{$user_info.user_qq}" />
              </div>
            </div>

            <div class="control-group">
              <label for="inputMobile" class="control-label">手机号码</label>  
              <div class="controls">
                <input type="text" name="phone" placeholder="手机号码" id="inputMobile" value="{$user_info.user_mobile}" />
              </div>
            </div>
                        
            <button class="btn btn-danger">提交</button>
          </form>

    		</div>
    	</div>
	   
      <!-- 公共底部 -->
		  <include file="Common@Public/footer" />

    </div>


	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	<script type="text/javascript">
		jQuery(function(){

			$.debug("个人中心");
		});
	</script>
</body>
</html>