<extend name="Public/base" />

<block name="main">
<div class="u_my_info">
  <div class="my_info">
    <div class="info_person">
        <h3 class="tit">我的个人信息</h3>
          <ul class="form_lst">
              <li class="frm">
                   <span class="frm_tit">账号名称：</span>
                    <div class="frm_val">
                        <span class="val">                                           
                            <a href="#" class="val_eml">{$user_info.user_name}</a>
                            <?php if($user_info['user_vip_status'] == 1):?>
                            <em class="colr_01">(VIP)</em>
                            <?php endif;?>
                        </span>
                        <span class="frm_ctr"><a href="{:ZU('user/account/password')}">修改密码</a></span>
                    </div>
                 </li>
                 <li class="frm">
                     <span class="frm_tit">用户昵称：</span>
                      <div class="frm_val">
                          <span class="val">{$user_info.user_nickname|default=$user_info['user_name']}</span>
                           <span class="frm_ctr"><a href="{:ZU('user/account/index')}">修改昵称</a></span>
                      </div>
                  </li>
                  <li class="frm">
                      <span class="frm_tit">我的书架：</span>
                      <div class="frm_val">
                           <span class="val">
                               藏书<em class="colr_01">1000</em>本，
                               已阅读<em class="colr_01">0</em>本
                           </span>
                            <span class="frm_ctr"><a href="#">查看我的书架</a></span>
                      </div>
                  </li>
              </ul>  
        </div>
      <div class="info_set">
        <h4 class="tit_h4 clearfix"><i class="ico_acc"></i><a href="{:ZU('user/account/index')}">账号设置</a></h4>
          <ul class="set_lst">
               <li>
                  <span class="set_tit">当前余额：</span>  
                  <div class="set_val">
                     <span class="val">
                       <em class="colr_01">{$user_info.amount|default="0"}</em> 逐浪金币
                     </span>
                  </div>
                  <div class="set_val">
                     <span class="val">
                       <em class="colr_01">{$user_info.bonus|default="0"}</em> 逐浪银币[过期时间:{$user_info.bonus_expire|default="-"}]
                     </span>
                  </div>
                   </li>
               <li>
                  <span class="set_tit">上次登录：</span>  
                  <div class="set_val">
                     <span class="val">
                       {$user_info.last_login}
                     </span>
                  </div>
               </li>
               <li>
                  <span class="set_tit">安全认证：</span>  
                  <div class="set_val">
                     <span class="val">
                      <!--邮箱状态否-->
                        <!--<span class="val_eml_no">
                          <i class="ico_no_01"></i><em> (否) </em>
                        </span>-->
                        <!--邮箱状态是-->
                        <span class="val_eml_yes">
                          <i class="ico_yes_01"></i><em class="colr_01"> (是) </em>
                        </span>
                        <?php if($user_info['user_mobi_yz'] == 1):?>
                        <span class="val_tel_yes">
                            <i class="ico_yes_02"></i><em> (是) </em>
                        </span>
                        <?php else:?>
                        <span class="val_tel_no">
                            <i class="ico_no_02"></i><em class="val_no"> (否) </em>
                        </span>
                        <?php endif;?>
                     </span>
                  </div>
               </li>
          </ul>
      </div>
    </div>
    <div class="info_val">
      <em class="tit">VIP 等级：</em>
      <span class="bar"><i style="width:70%"></i></span>
        <span class="val_up">成长值7/10</span>
    </div>
</div>
<!--//-->
<div class="u_my_book">
  <div class="hd_h3">
      <h4 class="tit">您可能喜欢的小说</h4><a class="chag_ctl">换一换</a>
    </div>
    <div class="bd">
      <div class="u_book_lst">
           <ul class="bk_lst">
               <li>
                  <a href="#">
                    <span class="pic">
                       <img src="{:z_img('user/images/bk_img01')}" />
                    </span>
                    <h3>绝世武神</h3>
                  </a>
               </li>
               <li>
                  <a href="#">
                    <span class="pic">
                       <img src="{:z_img('user/images/bk_img01')}" />
                    </span>
                    <h3>绝世武神</h3>
                  </a>
               </li>
               <li>
                  <a href="#">
                    <span class="pic">
                       <img src="{:z_img('user/images/bk_img01')}" />
                    </span>
                    <h3>绝世武神</h3>
                  </a>
               </li>
               <li>
                  <a href="#">
                    <span class="pic">
                       <img src="{:z_img('user/images/bk_img01')}" />
                    </span>
                    <h3>绝世武神</h3>
                  </a>
               </li>
               <li>
                  <a href="#">
                    <span class="pic">
                       <img src="{:z_img('user/images/bk_img01')}" />
                    </span>
                    <h3>绝世武神</h3>
                  </a>
               </li>
            </ul>
        </div>
        <div class="u_book_search">
          <dl>
              <dt>如果上面没有您喜欢的小说</dt>
              <dd>
                 <input type="" name="" 
                 value="请输入你喜欢的小说名称" class="serch_inp"/>
                <a href="#" class="serch_btn">搜索</a>
               </dd>
            </dl>
        </div>
    </div>
</div>
</block>