<div class="sidebar-nav">
	<ul class="nav nav-list">
		<li class="nav-header">快捷操作</li>
		<li <if condition="[nav] eq 'ext'">class="active"</if>><a href="{:ZU('/user/center/index')}">补充信息</a></li>
		<li <if condition="[nav] eq 'true_info'">class="active"</if>><a href="{:ZU('/user/center/trueInfo')}">补充真实信息</a></li>
		<li <if condition="[nav] eq 'apply'">class="active"</if>><a href="{:ZU('/user/center/apply')}">申请成为作者</a></li>
		<li <if condition="[nav] eq 'vip'">class="active"</if>><a href="{:ZU('/user/center/vip')}">升级为VIP</a></li>
	</ul>
</div>