<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>手动调整账户金额 - 逐浪币【{$info.amount}】/ 逐浪奖金币【{$info.bonus}】(有效期：{$info.bonus_expire})</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('user/account/doEdit', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						
						<div class="form-item">
							<label class="item-label">
								充值类型<span class="check-tips"></span>
							</label>
							<div class="controls">
								<select name="subtype" onchange="$.changeType(this);">
									<?php foreach (C('RECHARGE.sub_type') as $key => $val): ?>
										<?php if ($key == 5): continue; endif;?>
										<option value="{$key}">{$val}</option>
									<?php endforeach ?>
								</select>
							</div>
						</div>

						<div class="default-form">
							<div class="form-item">
								<label class="item-label">
									逐浪币<span class="check-tips"></span>
								</label>
								<div class="controls">
									<input class="text input-large" type="text" name="amount" placeholder="设置逐浪币，允许负数" />
								</div>
							</div>
							<div class="form-item">
								<label class="item-label">
									逐浪奖金币<span class="check-tips"></span>
								</label>
								<div class="controls">
									<input class="text input-large" type="text" name="bonus" placeholder="设置逐浪奖金币，允许负数" />
								</div>
							</div>
							<div class="form-item">
								<label class="item-label">
									奖金有效天数<span class="check-tips"></span>
								</label>
								<div class="controls">
									<input class="text input-large" type="text" name="expire" placeholder="设置一个整数" />
								</div>
							</div>
							
							<div class="form-item">
								<label class="item-label">
									备注<span class="check-tips"></span>
								</label>
								<div class="controls">
									<label class="textarea input-large">
										<textarea name="memo" placeholder="操作备注"></textarea>
									</label>
								</div>
							</div>
						</div>
			        </div>

					<div class="form-item cf">
						<input type="hidden" name="user_id" value="{$info.oid}">
						<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
					</div>
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>

    <!-- 保存表单 -->
    <div class="tmp" style="display:none;"></div>
	
	<!-- 调整时效 -->
	<div class="expire" style="display:none;">
		<div class="form-item">
			<label class="item-label">
				调整为距今天数<span class="check-tips"></span>
			</label>
			<div class="controls">
				<input class="text input-large" type="text" name="expire" placeholder="设置整数天数" />
			</div>
		</div>
	</div>
	
	<!-- 默认表单 -->
	<div class="default" style="display:none;">
		<div class="form-item">
			<label class="item-label">
				逐浪币<span class="check-tips"></span>
			</label>
			<div class="controls">
				<input class="text input-large" type="text" name="amount" placeholder="设置逐浪币，允许负数" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">
				逐浪奖金币<span class="check-tips"></span>
			</label>
			<div class="controls">
				<input class="text input-large" type="text" name="bonus" placeholder="设置逐浪奖金币，允许负数" />
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">
				奖金有效天数<span class="check-tips"></span>
			</label>
			<div class="controls">
				<input class="text input-large" type="text" name="expire" placeholder="设置一个整数" />
			</div>
		</div>
		
		<div class="form-item">
			<label class="item-label">
				备注<span class="check-tips"></span>
			</label>
			<div class="controls">
				<label class="textarea input-large">
					<textarea name="memo" placeholder="操作备注"></textarea>
				</label>
			</div>
		</div>
	</div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){
	
	showTab();
	$.menu('kefu', 'select', 'user-select');

	$.extend({

		changeType : function(obj)
		{
			var obj = $(obj);
			var type = obj.find('option:selected').val();
			var tmp_obj = $('.tmp');				// 临时保存的html标签
			var def_obj = $('.default-form');		// 表单div		
			var html = def_obj.html();				// 表单的内容

			if (type == 4) {
				tmp_obj.html(html);
				def_obj.html($('.expire').html());
			} else {
				tmp_obj.html(html);
				def_obj.html($('.default').html());
			}
		}
	});
});
</script>
</block>