<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span2">
		<include file="Public/sidebar" nav="book_apply_manager"/>
	</div>
	<div class="span10">
		<ul class="breadcrumb">
			<li class="active">待审核作品管理</li>
		</ul>
		<div class="alert alert-info">注：点击“操作本书”即可对当前作品进行新章上传、旧章更改调卷等操作，操作菜单在左侧栏目中显示
"[]"括号内的数字为收藏人数！</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>书号</th>
					<th>书名</th>
					<th>作者</th>
					<th>签约类型</th>
					<th>最后章节</th>
					<th>最后更新时间</th>
					<th>申请时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($book_apply as $key=>$val):?>
				<tr>
					<th>{$val.bk_id}</th>
					<th>《{$val.bk_name}》</th>
					<th>{$val.bk_author}</th>
					<th>{:ZC(C('BK.auth_level'), $val['bk_accredit'])}</th>
					<th>{$val.bk_public_name|default="暂无更新章节"}</th>
					<th>{$val.bk_now_date}</th>
					<th>{$val.bk_cre_time}</th>
					<th><a data-target="#modal-edit" data-toggle="modal" data-backdrop="static" href="{:ZU('bookApply/check', 'ZL_ADMIN_DOMAIN', array('bk_apply_id'=>$val['bk_id']))}">审核</a></th>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
</div>
</block>