<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>禁止榜单 - 添加屏蔽列表</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('deny/prevent/doAdd', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						<div class="form-item">
							<label class="item-label">
								要添加的书名<span class="check-tips">不同的书使用“|”分割</span>
							</label>
							<div class="controls">
								<textarea name="books" id="" cols="50" rows="10"></textarea>
							</div>
						</div>  

						<div class="form-item">
							<label class="item-label">
								操作理由<span class="check-tips"></span>
							</label>
							<div class="controls">
								<textarea name="ban_reason" id="" cols="50" rows="3"></textarea>
							</div>
						</div>       
			        </div>
					<div class="form-item cf">
						<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
					</div>
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>
</block>

<block name="js">
<link href="__JS__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__JS__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__JS__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

<script  type="text/javascript">
jQuery(function($){
	
	$('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#time-end').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

	$.menu('book', 'deny', 'ban-prevent');
});
</script>
</block>