<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="info" />
</block>

<block name="main">
<div class="a_data_cnt">
  <div class="hd_usr">
      <ul class="hd_nav">
           <li class="on">
              <a href="javascript:;">作者账户信息</a>
           </li>
        </ul>
    </div>
    <div class="bd">
      <div class="a_data_lst">
          <ul class="form_lst form_data_top">
                <li class="frm">
                  <span class="frm_tit">笔&nbsp;&nbsp;名：</span>
                    <div class="frm_val colr_02">
                      <span class="val">{$author_info.author_name}</span>
                    </div>
                </li>
                <li class="frm">
                  <span class="frm_tit">真实姓名：</span>
                    <div class="frm_val">
                      <span class="val colr_02">{$author_info.user_true_name}</span>
                    </div>
                </li>
                <li class="frm">
                  <span class="frm_tit">性&nbsp;&nbsp;别：</span>

                    <div class="frm_val">
                      <span class="val colr_02">{:ZC(C('USER.sex'), $author_info['user_sex'])}</span>
                    </div>
                </li>
                <li class="frm"> 
                  <span class="frm_tit">年&nbsp;&nbsp;龄：</span>

                    <div class="frm_val"><span class="val colr_02">xx</span></div>
                </li>
                <li class="frm">
                  <span class="frm_tit">手机号：</span>
                    <div class="frm_val">
                      <span class="val">
                      {$author_info.user_mobile|default="暂未设置"}
                      </span>  
                    </div>
                </li>
                <li class="frm">
                  <span class="frm_tit">电子邮箱：</span>
                    <div class="frm_val">
                      <span class="val">
                      {$author_info.user_email|default="暂未设置"}
                      </span>  
                    </div>
                </li>
            </ul> 
            <h3 class="tit_bank">银行账户信息</h3>
            <ul class="form_lst form_data_inp">
              <li class="frm">
                  <span class="frm_tit">开户人姓名：</span>
                    <div class="frm_val">
                      <span class="val">{$bank_info.bank_name|default="暂未设置"}</span>
                    </div>
                </li>
                <li class="frm">
                  <span class="frm_tit">银行账户：</span>
                    <div class="frm_val">
                      <span class="val">{$bank_info.bank_num|default="暂未设置"}</span>
                    </div>
                </li>
                <li class="frm">
                  <span class="frm_tit">开户行全称：</span>
                    <div class="frm_val">
                      <span class="val">{$bank_info.bank|default="暂未设置"}</span>
                    </div>
                </li>
                <li class="frm">
                   <span class="frm_tit">银行所在省市：</span>
                   <div class="frm_val">
                      <span class="val">{$bank_info.bank_prov_city|default="暂未设置"}</span>
                   </div>
                </li>
                <li class="frm">
                    <div class="frm_inp frm_btn">
                    <a href="{:ZU('author/edit', 'ZL_AUTHOR_DOMAIN')}" class="sbtn sbtn_03">修改</a>
                    </div>
                </li>
            </ul>                       
        </div>                    
    </div>
</div> 
</block>