<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>审核管理 - 章节审核【{$data.audit_name}】</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('Check/BookFull/doCheck', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						<div class="form-item">
							<label class="item-label">
								审核状态<span class="check-tips"></span>
							</label>
							<div class="controls">
								<select name="status">
									<?php foreach(C('CHECK.status') as $key=>$val):?>
									<option value="{$key}">{$val}</option>
									<?php endforeach;?>
								</select>
							</div>
						</div>

			            <div class="form-item cf">
			                <label class="item-label">
			                	备注<span class="check-tips">审核备注</span>
			                </label>
			                <div class="controls">
			                    <label class="textarea input-large">
			                    	<textarea name="audit_note" placeholder="审核备注"></textarea>
			                    </label>                    
			            	</div>
			            </div>
						

			            <div class="form-item cf">
			                <label class="item-label">
			                	章节内容&nbsp;&nbsp;<span class="btn" onclick="$.doEdit(this, 'edit-content');">点击编辑</span>
			                </label>
			                <div class="controls">
			                    <label class="textarea input-large edit-content" style="width:100%;height:800px;">
			                    	{$data.audit_content|nl2br}
			                    </label> 
			                    <div style="display:none;" class="eidt-content-hidden">{$data.audit_content}</div>
			                    <div style="display:none;" class="eidt-content-style-hidden">{$data.audit_content|nl2br}</div>                   
			            	</div>
			            </div>

			        </div>
					
					<div class="form-item cf">
						<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
					</div>
					<input type="hidden" name="id" value="{$data.id}" />
					<input type="hidden" name="bk_id" value="{$data.bk_info.bk_id}" />
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){

	$.extend({
		doEdit : function(t, class_name)
		{
			var t = $(t);
			var obj = $('.'+class_name);
			var hiddenContentObj = $('.eidt-content-hidden');
			var hiddenContentStyleObj = $('.eidt-content-style-hidden');
			var text = t.html();

			if (text == '返回') {
				t.html('点击编辑');
				obj.html(hiddenContentStyleObj.html());
			} else {
				t.html('返回');
				obj.html('<textarea name="content" style="width:100%;height:100%;">'+hiddenContentObj.html()+'</textarea>');
			}
		}
	});
	
	showTab();
	$.menu('kefu', 'check', 'chapter');
});

</script>
</block>