<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
	<div id="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
	    <div id="main" class="main">
			<!-- 标题栏 -->
			<div class="main-title">
				<h2>审核管理 - 全本申请列表</h2>
			</div>

		    <div style="height:30px;"></div>

			<!-- 数据列表 -->
			<div class="data-table">
				<table class="">
				    <thead>
				        <tr>
						<th class="">审核编号</th>
						<th class="">审核章节</th>
						<th class="">作者</th>
						<th class="">审核级别</th>
						<th class="">添加时间</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
				    	<?php foreach($data as $val):?>
						<tr>
							<td>{$val.id}</td>
							<td>
								<a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$val['bk_id'], 'ch_id'=>$val['ch_id']))}" target="_blank">{$val.audit_name}</a>
								<?php if ($val['is_vip'] == 1): ?>
									[vip]
								<?php endif ?>
								<?php if ($val['author_lock'] == 1): ?>
									[作品被封]
								<?php endif ?>
							</td>
							<td>{$val.author_name}</td>
							<td>{:ZC(C('CHECK.chapter_level'), $val['audit_emergency'])}</td>
							<td>{$val.create_time}</td>
							<td>
								<a href="{:ZU('check/Chapter/check', 'ZL_ADMIN_DOMAIN', array('id'=>$val['id']))}" class="btn">审核</a>
								<?php if ($val['author_lock'] == 1): ?>
									<a href="{:ZU('check/Chapter/doUnlock', 'ZL_ADMIN_DOMAIN', array('id'=>$val['id']))}" class="btn">解封作品</a>
								<?php endif ?>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
			    </table>
			</div>

			<div class="controls"></div>

			<!-- 分页 -->
			<?php if(!empty($page)):?>
			<div class="controls fr">
				<div class="page">{$page}</div>
			</div>
			<?php endif;?>
	    </div>
    </div>
</block>

<block name="js">
<script type="text/javascript">
    jQuery(function($){
        $.menu('kefu', 'check', 'chapter');
    });
</script>   
</block>