<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<block name="title"><title>作者站管理后台</title></block>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>body{padding-top:80px;}</style>
	{// 扩展的css}
	<block name="css"></block>
</head>
<body>
	{// 公共头部}
	<block name="header"><include file="Public/header" /></block>
	
    <div class="container">
    	{// 内容部分}
    	<block name="main">内容部分</block>

		{// 公共底部}
		<block name="footer"><include file="Public/footer" /></block>
    </div>
	
	{// 公共加载的js}
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	{// 所有js标签最好使用literal标记，防止与thinkphp模板标签混淆}
	<literal>
		<script type="text/javascript">
		jQuery(function(){

			$.debug('extend布局 - base');
		});
		</script>
	</literal>
	{// 扩展的js}
	<block name="js"></block>
</body>
</html>