<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<block name="title"><title>{$author_info.user_nickname|default=$author_info['user_name']} - 作者中心主页 - 逐浪网</title></block>
<link href="{:z_css('author')}" type="text/css" rel="stylesheet">
<link href="{:z_css('base')}" type="text/css" rel="stylesheet">
<script src="{:z_js()}"></script>
<script src="{:z_js('zlang')}"></script>
<script src="{:z_js('author/zlang.author')}"></script>
</head>

<body>
<div class="container">
	<div class="topbar">
      {// 顶部}
      <block name="top"><include file="Public/top"/></block>
  </div>
 	<div class="header">
      <block name="header"><include file="Public/header" nav="author"/></block>
  </div>
	<div class="main">
		<div class="wrap">
    	  <div class="user_detail">
        	  <div class="user_side authr_side">
              {// 左侧菜单 }
              <block name="sidebar">
                <include file="Public/sidebar" tab="index" />
              </block>
            </div>
            <div class="user_cnt authr_cnt">
 					    <block name="main"></block>
            </div>
        </div>
     </div>
     <div class="footer">
        <block name="footer">
          <include file="Public/footer" />
        </block>
    </div> 
    </div>
</div>     
  {// 扩展的js}
  <block name="js"></block>   
</body>
</html>