<div class="a_side_lst">
	<ul>
		<li <if condition="[tab] eq 'index'">class="on"</if>><a href="{:ZU('index/index', 'ZL_AUTHOR_DOMAIN')}">新建作品</a></li>
	    <li <if condition="[tab] eq 'manager'">class="on"</if>><a href="{:ZU('book/index', 'ZL_AUTHOR_DOMAIN')}">作品管理</a></li>
	    <li <if condition="[tab] eq 'info'">class="on"</if>><a href="{:ZU('author/index', 'ZL_AUTHOR_DOMAIN')}">作者资料</a></li>
	    <li <if condition="[tab] eq 'incoming'">class="on"</if>><a href="{:ZU('incoming/index', 'ZL_AUTHOR_DOMAIN')}">收入查询</a></li>
	    <li <if condition="[tab] eq 'notice'">class="on"</if>><a href="#">新闻公告</a></li>
	</ul>
</div>
