<div class="wrap">
	<div class="tpbar_l">
    	<a href="{:C('ZL_WWW')}" class="tp_zhul">逐浪文学</a>|<a href="javascript:;" class="tp_stor">一键收藏</a>
    </div>
    <div class="tpbar_usr">
    	<ul class="usr_nav">
        	<li class="usr_loged">
                <a href="{:ZU('user/center/index')}" class="usr_nam">欢迎您, {:ZS('SESSION.author', 'author_name')}</a>
                <a href="{:ZU('login/logout')}" class="usr_exit">退出</a>
                <i class="ico_usr">|</i>
            </li>
            <li class="usr_li"><a href="{:ZU('user/shelf/index')}">我的书架</a>|</li>
            <li class="usr_li"><a href="#">站内短信</a>|</li>
            <li class="usr_li"><a href="#">充值</a>|</li>
            <li class="tnav_drop" style="cursor:pointer;">
            	 <span class="drp_tit">导航</span>   
                 <div class="drp_box" style="display:none">
                    <a href="#">玄幻<i></i>奇幻</a>
                    <a href="#">武侠<i></i>仙侠</a>
                    <a href="#" class="on">都市<i></i>青春</a>
                    <a href="#">玄幻<i></i>奇幻</a>
                    <a href="#">武侠<i></i>仙侠</a>
                    <a href="#">都市<i></i>青春</a>
                    <a href="#">玄幻<i></i>奇幻</a>
                    <a href="#">武侠<i></i>仙侠</a>
                   <a href="#">都市<i></i>青春</a>
                </div>
            </li>
        </ul>
    </div>
</div>