<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<block name="title"><title>作者站管理后台</title></block>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	{// 公共加载的js}
	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	<style>body{padding-top:80px;}</style>
	{// 扩展的css}
	<block name="css"></block>
</head>
<body>
	{// 公共头部}
	<block name="header"><include file="Public/header" /></block>
	
    <div class="container">
    	{// 内容部分}
    	<block name="main">内容部分</block>

		{// 公共底部}
		<block name="footer"><include file="Public/footer" /></block>
    </div>
    
    {// 加载常用的modal内容}
    <include file="Public/modal" />

    {// 扩展的modal内容}
    <block name="modal"></block>
    
    {// 公共js}
	<script type="text/javascript">
	jQuery(function(){
		
		// modal移除数据
		$('.modal').on('hide', function(){
			$(this).removeData("modal");
		})

		// 只有form的modal才会执行的动作
		$('.modal-form').on('shown', function(){
			var title = $(this).find('.modal-title').val();
			var form_action = $(this).find('.modal-action').val();

			$(this).find('form:first').attr('action', form_action);
			$(this).find('#editTitle').html(title);

		}).on('hide', function(){
			$(this).find('form:first').attr('action', '###');
			$(this).find('#editTitle').html('&nbsp;');
		});

		$.debug('extend布局 - base');
	});
	</script>
	{// 扩展的js}
	<block name="js"></block>
</body>
</html>