<div class="header">
    <!-- Logo -->
    <span class="logo"></span>
    <!-- /Logo -->

    <!-- 主导航 -->
    <ul class="main-nav">
        <?php $i = 0;?>
        <?php foreach($menu_category['top'] as $val):?>
        <li <?php if((empty($global_cid) && $i == 0) || $val['current']):?>class="current"<?php endif;?>><a href="{$val.url}">{$val.name}</a></li>
        <?php ++$i;?>
        <?php endforeach;?>
    </ul>
    <!-- /主导航 -->

    <!-- 用户栏 -->
    <div class="user-bar">
        <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
        <ul class="nav-list user-menu hidden">
            <li class="manager">你好，<em title="admin">{:ZS('SESSION.admin', 'user_name')}</em></li>
            <li><a href="/admin.php?s=/User/updatePassword.html">修改密码</a></li>
            <li><a href="/admin.php?s=/User/updateNickname.html">修改昵称</a></li>
            <li><a href="{:ZU('login/logout', 'ZL_ADMIN_DOMAIN')}">退出</a></li>
        </ul>
    </div>
</div>