<div class="header">
    <!-- Logo -->
    <span class="logo"></span>
    <!-- /Logo -->

    <!-- 主导航 -->
    <ul class="main-nav">
        <li class=""><a href="/admin.php?s=/Index/index.html">首页</a></li>
        <li class=""><a href="/admin.php?s=/Article/index.html">作品</a></li>
        <li class=""><a href="/admin.php?s=/User/index.html">作者</a></li>
        <li class=""><a href="/admin.php?s=/Config/group.html">会员</a></li>
        <li class=""><a href="/admin.php?s=/Config/group.html">广告</a></li>
        <li class=""><a href="/admin.php?s=/Config/group.html">推荐</a></li>
        <li class=""><a href="/admin.php?s=/Config/group.html">客服</a></li>
        <li class="current"><a href="/admin.php?s=/Config/group.html">财务</a></li>
        <li class=""><a href="/admin.php?s=/Config/group.html">设置</a></li>        
    </ul>
    <!-- /主导航 -->

    <!-- 用户栏 -->
    <div class="user-bar">
        <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
        <ul class="nav-list user-menu hidden">
            <li class="manager">你好，<em title="admin">admin</em></li>
            <li><a href="/admin.php?s=/User/updatePassword.html">修改密码</a></li>
            <li><a href="/admin.php?s=/User/updateNickname.html">修改昵称</a></li>
            <li><a href="{:ZU('login/logout', 'ZL_ADMIN_DOMAIN')}">退出</a></li>
        </ul>
    </div>
</div>