<div class="sidebar">
    <!-- 子导航 -->        
    <div id="subnav" class="subnav">
		<?php $i=0;?>
		<?php foreach($menu_category['sidebar']['children'] as $val):?>
            <!-- 子导航 -->
            <h3><i class="icon <?php if((empty($global_cid) && $i == 0) || $val['current']):?>icon-unfold<?php else:?>icon-fold<?php endif;?>"></i>{$val.name}</h3> 
				<ul class="side-sub-menu <?php if((empty($global_cid) && $i == 0) || $val['current']):?>subnav-on<?php else:?>subnav-off<?php endif;?>">
					<?php foreach($val['item'] as $item):?>
                    <li <?php if($item['current']):?>class="current"<?php endif;?>><a class="item" href="{$item.url}">{$item.name}</a></li>
	                <?php endforeach;?>
				</ul>
			<!-- /子导航 -->
		<?php ++$i;?>
		<?php endforeach;?>
	</div>        
    <!-- /子导航 -->
</div>