<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$book_info.bk_name} - 阅读</title>
<link href="{:z_css('book/css/style')}" type="text/css" rel="stylesheet">
<link href="{:z_css('book/css/base')}" type="text/css" rel="stylesheet">
</head>

<body style="background:#e6e6e6">
{// 顶部工具条}
<div class="topbar">
    <div class="wrap">
      <include file="Public/topbar" />
    </div>
</div>
  <!--TopbarEnd-->
<div class="wy_cont">
	<div class="cont_nav">
        <h2>问天问世</h2>
        <ul class="nav_ct">
            <li>作者：<a>{$book_info.bk_author}</a></li>
            <li>最新章节：<a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$book_info['bk_public_ch_id']))}">{$book_info.bk_public_name}</a></li>
        </ul>
        <p class="bct"><b>背景：</b><span><a href="#" class="a1"></a><a href="#" class="a2"></a><a href="#" class="a3"></a><a href="#" class="a4"></a><a href="#" class="a5"></a><a href="#" class="a6"></a><a href="#" class="a7"></a></span></p>
        <strong>字体：</strong>
        <ul class="dr_cd">
                <li>
                    <div><select>
                    <option>最大</option>
                    <option>较大</option>
                    <option>较小</option>
                    <option>最小</option>
                    <option>中等</option></select></div>
                </li>
            </ul>
    </div>
	<div class="top_name1">
        <h2>{$chapter_info.ch_name}</h2>
        <ul class="nam_zc">
            <li>作者：<a>{$chapter_info.ch_poster}</a></li>
            <li>更新时间：<a>{$chapter_info.ch_update}</a></li>
            <li>字数：<a>{$chapter_info.ch_size}</a></li>
        </ul>
        {$chapter_info.ch_content|nl2br}
        <div class="page">
            <ul>
                <li><a>（快捷键）</a></li>
                <?php if(!empty($sibling_chapter['prev'])):?>
                <li><a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$sibling_chapter['prev']['ch_id']))}">上一章</a></li>
                <?php endif;?>
                <li><a href="{:ZU('index/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id']))}">[返回目录]</a></li>
                <?php if(!empty($sibling_chapter['next'])):?>
                <li><a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$sibling_chapter['next']['ch_id']))}">下一章</a></li>
                <?php endif;?>
                <li><a>（快捷键）</a></li>
            </ul>
        </div>
        <div class="fd_btoom">
            <ul>
                <li><a href="#">书签收藏</a>|</li>
                <li><a href="#">投推荐票</a>|</li>
                <li><a href="#">打赏作品</a>|</li>
                <li><a href="#">送朵鲜花</a>|</li>
                <li><a href="#">发表评论</a></li>
            </ul>
        </div>
    </div>
    <div class="left_fc">
    	<ul>
            <li><a href="#">下载</a></li>
            <li><a href="{:ZU('index/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id']))}">目录</a></li>
            <li><a href="#">书论</a></li>
            <li><a href="#">首页</a></li>
        </ul>
    </div>
    <div class="right_fc">
    	<ul>
            <li><a href="#">送朵鲜花</a></li>
            <li><a href="#">打赏作者</a></li>
            <li><a href="#">阅读下章</a></li>
        </ul>
    </div>
</div>
</body>
</html>