<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="shelf"/>
</block>

<block name="main">
<div class="u_my_bshelf">
<div class="hd_usr">
  <include file="menu" ac="history" />
</div>
<div class="bd">
  <div class="u_shelf_lst">
      <div class="shel_filt">
          <span class="filt_l">全部藏书<em>10</em>部</span>
            <div class="filt_r">
              <div class="r_sear">
    <input type="text" name="" 
                  value="请输入书名 章节名称" class="sear_inp"/>
                  <a href="#" class="sear_btn">搜索</a>
                </div>
            </div>  
        </div>   
        <div class="u_td shelf_td">
          <table>
              <tr>
                  <th><input type="checkbox" value="" name="" /></th>
                    <th>类别</th>
                    <th>作品/最新章节</th>
                    <th>最近更新</th>        
                    <th>作者</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>
                <tr>
                  <td><input type="checkbox" value="" name="" /></td>
                    <td>青春</td>
                    <td>校园篮球风云[顶]第一章 小试牛刀 VIP</td>
                    <td>无</td>
                    <td>大秦</td>
                    <td>完结</td>
                    <td><a href="#" class="ctr_add">加入书架</a></td>
                </tr>
                <tr>
                  <td><input type="checkbox" value="" name="" /></td>
                    <td>类别</td>
                    <td>作品/最新章节</td>
                    <td>无</td>
                    <td>大秦</td>
                    <td>完结</td>
                    <td><a href="#" class="ctr_add">加入书架</a></td>
                </tr>
            </table>
        </div> 
        <div class="shelf_ctr">
          <div class="ctr_l">
                <label><input type="checkbox" value="" name="" />全选</label>
                <p class="ctr_lst">
                    <a href="#">加入书架</a>
                </p>
             </div> 
           <div class="ctr_r">
              <span class="shelf_num">
                 默认显示最近阅读的<em class="colr_01">10</em>部小说
              </span>      
           </div>    
        </div>                                                
    </div>                    
</div>
</div>
</block>