<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="shelf"/>
</block>

<block name="main">
<div class="u_my_bshelf">
<div class="hd_usr">
  <include file="menu" ac="manager" />
</div>
<div class="bd">
  <div class="u_shelf_lst">
      <div class="shel_filt">
          <span class="filt_l">您是<em class="colr_01">普通LV2级会员</em>现在可自行创建3个书架</span>
            <div class="filt_r">
              <span class="filt_new"><a href="#">创建书架</a></span>
            </div>  
        </div>   
        <div class="u_td shelf_td">
          <table>
              <tr>
                  <th><input type="checkbox" value="" name="" /></th>
                    <th>类别</th>
                    <th>作品/最新章节</th>
                    <th>书签</th>
                    <th>最近更新</th>        
                    <th>作者</th>
                    <th>状态</th>
                </tr>
                <tr>
                  <td><input type="checkbox" value="" name="" /></td>
                    <td>青春</td>
                    <td>校园篮球风云[顶]第一章 小试牛刀 VIP</td>
                    <td>书签</td>
                    <td>无</td>
                    <td>大秦</td>
                    <td>完结</td>
                </tr>
                <tr>
                  <td><input type="checkbox" value="" name="" /></td>
                    <td>类别</td>
                    <td>作品/最新章节</td>
                    <td>书签</td>
                    <td>最近更新</td>
                    <td>书签</td>
                    <td>完结</td>
                </tr>
            </table>
        </div>                                              
    </div>                    
</div>
</div>  
</block>