<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="shelf"/>
</block>

<block name="main">
<div class="u_my_bshelf">
<div class="hd_usr">
  <include file="menu" ac="manager" />
</div>
<div class="bd">
  <div class="u_shelf_lst">
      <div class="shel_filt">
          <span class="filt_l"><!-- 您是<em class="colr_01">普通LV2级会员</em>现在 -->可自行创建{:C('SHELF.shelf_max')}个书架</span>
            <div class="filt_r">
              <span class="filt_new"><a href="{:ZU('user/shelf/add')}">创建书架</a></span>
            </div>  
        </div>   
        <div class="u_td shelf_td">
          <table>
                <tr>
                    <th>书架序号</th>
                    <th>书架名称</th>
                    <th>操作</th>
                </tr>
                <?php foreach($shelf_list as $key=>$val):?>
                <tr>
                    <td>{$key}</td>
                    <td><input type="text" class="shelf_name" value="{$val}" /></td>
                    <td><a onclick="$.setShelfName('{:ZU('user/shelf/edit', 'ZL_DOMAIN', array('shelf_id'=>$key))}',this);" href="javascript:;">修改书架名称</a></td>
                </tr>
                <?php endforeach;?>
            </table>
        </div>                                              
    </div>                    
</div>
</div>  
</block>