<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
	<div id="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
	    <div id="main" class="main">
			<!-- 标题栏 -->
			<div class="main-title">
				<h2>审核管理 - 作者申请列表</h2>
			</div>

		    <div>
				<div class="btn-group">
					<button class="btn current">待审核</button>
					<button class="btn">未通过</button>
				</div>
		    </div>

			<!-- 数据列表 -->
			<div class="data-table">
				<table class="">
				    <thead>
				        <tr>
						<th class="">编号</th>
						<th class="">用户名</th>
						<th class="">真实姓名</th>
						<th class="">笔名</th>
						<th class="">推荐人</th>
						<th class="">状态</th>
						<th class="">申请日期</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
				    	<?php foreach($apply_list as $val):?>
						<tr>
							<td>{$val.aa_id}</td>
							<td>{$val.user_name}</td>
							<td>{$val.user_true_name}</td>
							<td>{$val.author_name}</td>
							<td>{$val.tuijianren|default=" - "}</td>
							<td>{:ZC(C('CHECK.status'), $val['aa_state'])} </td>
							<td>{$val.aa_date}</td>
							<td>
								<a href="{:ZU('check/authorApply/check', 'ZL_ADMIN_DOMAIN', array('id'=>$val['aa_id']))}" class="btn">审核</a>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
			    </table>
			</div>
			<!-- 分页 -->
			<?php if(!empty($page)):?>
			<div class="page">{$page}</div>
			<?php endif;?>
	    </div>
    </div>
</block>

<block name="js">
<script type="text/javascript">
    jQuery(function($){
        $.menu('kefu', 'check', 'author-apply');
    });
</script>   
</block>