<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>拉勾网-最专业的互联网招聘平台</title>
        <meta content="拉勾网是3W旗下的互联网领域垂直招聘网站" name="description">
        <meta content="拉勾,拉勾网,拉勾招聘,拉钩, 拉钩网 ,互联网招聘,拉勾互联网招聘, 移动互联网招聘, 垂直互联网招聘, 微信招聘, 微博招聘, 拉勾官网, 拉勾百科,跳槽, 高薪职位, 互联网圈子, IT招聘, 职场招聘, 猎头招聘,O2O招聘, LBS招聘, 社交招聘, 校园招聘, 校招,社会招聘,社招"
        name="keywords">
        <script src="__PUBLIC__/HomeStyle/js/analytics.js" async=""></script>
        <link rel="Shortcut Icon" href="http://www.lagou.com/images/favicon.ico">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/style_002.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/style.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/external.css">
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/HomeStyle/css/popup.css">
        <script src="__PUBLIC__/HomeStyle/js/jquery.js"
        type="text/javascript">
        </script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/jquery_002.js">
        </script>
        <script src="__PUBLIC__/HomeStyle/js/ajaxfileupload.js"
        type="text/javascript">
        </script>
        <!--[if lte IE 8]>
            <script type="text/javascript" src="http://www.lagou.com/js/assets/excanvas.js?v=1.5.5.6_1022">
            </script>
        <![endif]-->
        <script type="text/javascript">
            var youdao_conv_id = 271546;
        </script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/conv.js">
        </script>
        <style>
            .search input[type="text"] {
                border: medium none;
                font: 14px/18px "Microsoft Yahei",Arial;
                height: 18px;
                outline: medium none;
                vertical-align: top;
            }
            .search input {
                border: medium none;
                margin: 0;
                outline: 0 none;
                padding: 0;
                width: 198px;
            }
        </style>
    </head>
    
    <body>
        <div id="body">
            <include file="Public/header" />
            <!-- end #header -->
            <div id="container">
                <include file="Public/sidebar" nav="forward" />
                <!-- end .sidebar -->
                <div class="content arrange_view">
                    <dl class="company_center_content ">
                        <form id="filterForm" method="get" action="http://hr.lagou.com/interview/arranged.html">
                            <input id="nowTime" value="2014-11-12 15:09:43" type="hidden">
                            <input id="nowTimeYm" value="2014-11" type="hidden">
                            <input id="nowTimeYmDd" value="2014-11-12" type="hidden">
                            <input id="totalCount" name="totalCount" value="2" type="hidden">
                            <input id="d" name="d" value="" type="hidden">
                            <input id="r" name="r" value="" type="hidden">
                            <input id="s" name="s" value="15" type="hidden">
                            <input id="q_flag" name="q_flag" value="" type="hidden">
                            <input id="positionId" name="positionId" value="" type="hidden">
                            <dt id="arrange_interview" class="arrange_interview">
                                <em>
                                </em>
                                <div class="head_l clearfixs">
                                    <div class="cy">
                                        <i>
                                        </i>
                                        <input class="hasDatepicker" id="datetimepicker" type="text">
                                    </div>
                                    <div class="search">
                                        <input autocomplete="off" id="search" name="q" placeholder="搜索姓名或应聘职位"
                                        type="text">
                                        <a id="searchBtn" href="javascript:;">
                                        </a>
                                    </div>
                                </div>
                                <div class="head_r">
                                    <span>
                                        面试时间 ：
                                    </span>
                                    <a href="javascript:;" data-type="1">
                                        不限
                                    </a>
                                    <a href="javascript:;" data-type="0" class="active">
                                        今天及以后
                                    </a>
                                    <a href="javascript:;" data-type="-1">
                                        昨天及以前
                                    </a>
                                </div>
                            </dt>
                            <dd>
                                <div class="result_wrap">
                                    <div class="result_main">
                                        <div class="result_date">
                                            <p>
                                                2014-11-12/周三
                                            </p>
                                        </div>
                                        <div class="result_time clearfixs">
                                            <div style="border-color: rgb(225, 225, 225);" class="time_l fl">
                                                <span class="time_dot">
                                                    <label>
                                                        2014-11-12
                                                    </label>
                                                    10:35
                                                    <em></em>
                                                    <i class=" "></i>
                                                </span>
                                            </div>
                                            <div class="time_r fr">
                                                <ul>
                                                    <li class="clearfixs">
                                                        <div class="portrait fl">
                                                            <img src="__PUBLIC__/HomeStyle/images/3c03ebc2aa534bf9b4797b963add840f.jpg"
                                                            alt="头像">
                                                        </div>
                                                        <div class="con_l fl">
                                                            <p class="person_p">
                                                                <span class="person searchFlagN" title="小苍苍">
                                                                    小苍苍
                                                                </span>
                                                                <span class="mobile">
                                                                    15510254318
                                                                </span>
                                                            </p>
                                                            <p class="info">
                                                                <span class="post">
                                                                    <strong>
                                                                        应聘：
                                                                    </strong>
                                                                    <em class="searchFlagP" title="游戏制作人">
                                                                        游戏制作人
                                                                    </em>
                                                                </span>
                                                                <span class="publisher" title="小苍苍">
                                                                    <strong>
                                                                        发布人：
                                                                    </strong>
                                                                    vp
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="con_r fr">
                                                            <a target="_blank" href="http://www.lagou.com/nearBy/preview.html?deliverId=3261640"
                                                            class="preview">
                                                                <span>
                                                                    预览简历
                                                                </span>
                                                            </a>
                                                            <a target="_blank" href="http://www.lagou.com/corpResume/downloadResume?deliverId=3261640"
                                                            class="download" data-key="f8c9cb931414c41a2f5c461f170d980a" data-type="0">
                                                                <span>
                                                                    下载简历
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="result_main">
                                        <div class="result_date">
                                            <p>
                                                2014-11-15/周六
                                            </p>
                                        </div>
                                        <div class="result_time clearfixs">
                                            <div style="border-color: rgb(225, 225, 225);" class="time_l fl">
                                                <span class="time_dot">
                                                    <label>
                                                        2014-11-15
                                                    </label>
                                                    11:00
                                                    <em>
                                                    </em>
                                                    <i class=" dn ">
                                                    </i>
                                                    <i style="top: 45px;" class="dash_bottom">
                                                    </i>
                                                </span>
                                            </div>
                                            <div class="time_r fr">
                                                <ul>
                                                    <li class="clearfixs">
                                                        <div class="portrait fl">
                                                            <img src="__PUBLIC__/HomeStyle/images/default_headpic.png"
                                                            alt="头像">
                                                        </div>
                                                        <div class="con_l fl">
                                                            <p class="person_p">
                                                                <span class="person searchFlagN" title="王征">
                                                                    王征
                                                                </span>
                                                                <span class="mobile">
                                                                    18612666432
                                                                </span>
                                                            </p>
                                                            <p class="info">
                                                                <span class="post">
                                                                    <strong>
                                                                        应聘：
                                                                    </strong>
                                                                    <em class="searchFlagP" title="iOS">
                                                                        iOS
                                                                    </em>
                                                                </span>
                                                                <span class="publisher" title="小苍苍">
                                                                    <strong>
                                                                        发布人：
                                                                    </strong>
                                                                    vp
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <div class="con_r fr">
                                                            <a target="_blank" href="http://www.lagou.com/corpResume/resumeView.html?deliverId=3347506"
                                                            class="preview">
                                                                <span>
                                                                    预览简历
                                                                </span>
                                                            </a>
                                                            <a target="_blank" href="javascript:;" class="download" data-key="465c9a7e1e34eb54fa27dfbaf71a884e"
                                                            data-type="1">
                                                                <span>
                                                                    下载简历
                                                                </span>
                                                            </a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </dd>
                        </form>
                    </dl>
                    <!-- end .company_center_content -->
                </div>
                <!-- end .content -->
                <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/jquery_003.js">
                </script>
                <div class="clear">
                </div>
                <input id="resubmitToken" value="" type="hidden">
                <a style="display: none;" id="backtop" title="回到顶部" rel="nofollow">
                </a>
            </div>
            <!-- end #container -->
        </div>
        <!-- end #body -->
       <include file="Public/footer" />
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/core.js">
        </script>
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/tongji.js">
        </script>
        <!-- -->
        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/analytics_002.js">
        </script>
        <script src="__PUBLIC__/HomeStyle/js/h.js"
        type="text/javascript">
        </script>
        <script type="text/javascript">
            $(function() {
                //判断初始化页面时 是否隐藏提示框以及红点的显示
                if ($(".notice_tip").length == 0) {
                    $("#noticeTip").hide();
                    $(".collapsible_menu dt .red").addClass("dn");
                }

                //$('#noticeDot-1').hide();
                $('#noticeTip a.closeNT').click(function() {
                    $(this).parent().hide();
                    //与后台交互，消息标识为已读
                    L.ajax({
                        type: 'POST',
                        url: ctx + "/notice/clearAll.json",
                        dataType: 'json'
                    });
                    $(".collapsible_menu dt .red").addClass("dn");
                });
                //B端消息绑定单击事件
                $(".notice_tip").bind("click",
                function() {
                    $(this).remove();
                    //获取当前点击的消息类型
                    var type = $(this).data("type");
                    //告诉后台哪种类型的消息一经被查看
                    L.ajax({
                        type: 'POST',
                        url: ctx + "/notice/clear.json",
                        data: {
                            nt: type
                        },
                        dataType: 'json'
                    });
                    if ($(".notice_tip").length == 0) {
                        $("#noticeTip").hide();
                        $(".collapsible_menu dt .red").addClass("dn");
                    }
                });
            });
        </script>
    </body>

</html>