<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="finance"/>
</block>

<block name="main">
<div class="u_my_fince">
	<div class="hd_usr">
    	<include file="menu" ac="cost" />
    </div>
    <div class="bd">
    	<div class="u_shelf_lst">
        	<div class="shel_filt">
            	<span class="filt_l">
                	共订阅了 <em class="colr_01">{$assign.total}</em> 篇章节
                </span>
                <div class="filt_r">
                	<span class="filt_new"><a href="javascript:history.go(-1);">返回</a></span>
                </div>	
            </div>
            <?php if(!empty($bill_info)):?>   
            <div class="u_td fince_td">
            	<table>
                	<tr>
                        <th>章节号</th>
                        <th>购买章节名称</th>
                        <th>价格</th>      
                    </tr>
                    <?php foreach($bill_info as $val):?>
                    <tr>
                    	  <td><em class="colr_02">{$val.id}</em></td>
                        <td>{$val.name} 
                           <em class="colr_02">VIP</em>
                        </td>
                        <td>{$val.price}</td>
                    </tr>
					<?php endforeach;?>
                </table>
            </div> 
	        <?php endif;?>
            <div class="shelf_ctr">
            	   <div class="ctr_r">
                    <div class="ctr_page">
                       {$page}
                    </div>
                 </div>    
            </div>                                                
        </div>                    
    </div>
</div>
</block>

<block name="js">
<script type="text/javascript">
  jQuery(function($){

  });
</script>
</block>