<extend name="Public/base" />

<block name="header">
<include file="Public/header" nav="finance"/>
</block>

<block name="main">
<div class="u_my_fince">
	<div class="hd_usr">
    	<include file="menu" ac="recharge" />
    </div>
    <div class="bd">
    	<div class="u_fince_lst"> 
            <div class="u_td fince_td">
            	<table>
                	<tr>
                        <th>充值时间</th>
                        <th>充值金额(逐浪币)</th>
                        <th>支付渠道</th>
                        <th>备注</th>        
                    </tr>
                    <!-- <tr>
                        <td>2014-09-10 18：00</td>
                        <td><em class="colr_01">500000</em> 逐浪币 </td>
                        <td>支付宝</td>
                        <td><em>+500</em>奖金逐浪币</td>
                    </tr>
 -->
                </table>
            </div> 
            <div class="shelf_ctr">
            	<div class="ctr_l">
                    <span class="shelf_num">默认显示最近 
                       <em class="colr_01"> 3 </em>个月的充值记录
                    </span>
                 </div> 
               <div class="ctr_r">
                    <div class="ctr_page">
                      <!--  <span class="pg_lst">
                    	  <span class="pg_pre" style="display:none">
                             <a href="#"> <<上一页 </a>
                          </span>
                          <a href="#" class="on">1</a>
                          <a href="#">2</a>
                          <a href="#">3</a>
                          <a href="#">4</a>
                          <a href="#">5</a>
                          <a href="#">6</a>
                          <span class="pg_oth">...</span>
                          <a href="#"class="pg_end">12</a>
                         <span class="pg_nxt"><a href="#">下一页>></a></span>
                      </span>  -->   
                    </div>
                 </div>    
            </div>                                                
        </div>                    
    </div>
</div>	
</block>

<block name="js">
<script type="text/javascript">
  jQuery(function($){

  });
</script>
</block>