<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>用户登录</title>
<link href="{:z_css('login/css/user')}" type="text/css" rel="stylesheet">
<link href="{:z_css('login/css/base')}" type="text/css" rel="stylesheet">
<script src="{:z_js()}"></script>
<script src="{:z_js('zlang')}"></script>
</head>
<body>
<div class="container">
  <div class="wrap">
    <div class="header">
      <h1 class="logo"><a href="#"><img src="{:z_img('login/images/logo')}" /></a></h1>
      <h2 class="top_sub">会员登录</h2>
    </div>
    <div class="main">
      <div class="reg_login">
        <div class="login_frm">
          <form action="{:ZU('login/doLogin')}" onsubmit="return $.checkLogin();" method="post">
            <ul class="frm_lst JQ_Frmlst">
              <li class="frm">
                <div class="frm_inp"> 
                  	<input type="text" name="username" value="" placeholder="手机号/邮箱/用户名" class="inp i-username" />
                </div>
                <div class="frm_tip">
                	<span class="txt"></span>
                </div>
              </li>
              <li class="frm">
                <div class="frm_inp">
                	<span class="frm_inp_wrap">
                    <input type="password" name="password" value="" class="inp i-password"/>
                  </span> 	
                </div>
                <div class="frm_tip">
                	<span class="txt"></span>
                </div>
              </li>
              <li class="frm">
              	<div class="frm_inp frm_chk">
                   <label><input type="checkbox" />自动登录</label>
                   <a href="javascript:;" class="fgt_link">忘记密码?</a>
                </div>
              </li>
              <li class="frm">
              	<div class="frm_inp">
                	<!-- <a href="#" class="sbtn_01">登录</a> -->
                  <button type="submit" class="sbtn_01">登录</button>
                </div>
              </li>
            </ul>
          </form>
        </div>
        <div class="reg_tips">
        	<div class="reg_acc">
               <a href="{:ZU('register/index')}" class="acc_no">还没有逐浪网账号?</a>
               <a href="{:ZU('register/index')}" class="sbtn_01">3秒注册新账号</a>
            </div>
            <dl class="tird_acc">
            	<dt>也可使用下列第三方账号登录</dt>
                <dd>
                	  <a href="#"><img src="{:z_img('login/images/thid_img01')}" /></a>
                    <a href="#"><img src="{:z_img('login/images/thid_img02')}" /></a>
                    <a href="#"><img src="{:z_img('login/images/thid_img03')}" /></a>
                </dd>
            </dl>
        </div>
      </div>
    </div>
    <div class="footer">
        <p>Copyright © 2014 ZHULANG.COM All rights Reserved 逐浪网版权所有<br />
           客服电话：025-66670800
        </p>
    </div>
  </div>
</div>

<script type="text/javascript">
jQuery(function($){

  $.extend({

    /**
     * 验证登录js
     *
     */
    checkLogin : function()
    {
      var username = $('.i-username').val().replace(/\s+/, '');
      var password = $('.i-password').val().replace(/\s+/, '');

      if (username == '') return false;
      if (password == '') return false;

      // ajax验证... 待写
      return true;
    }

  });

});
</script>
</body>
</html>