<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="manager" />
</block>

<block name="main">
<div class="work_lst">
  <div class="hd_usr">
      {// 不同性质的作品列表}
      <include file="Public/nav" lab="informal"/>
    </div>
    <div class="bd">                       
        <div class="w_lst_cnt">
          {// 作品列表}
           <?php if(!empty($book_list)):?>
           <?php foreach($book_list as $val):?>
           <dl>
              <dt>
                <p class="pic">
                   <img src="{:z_cover()}"/>
                </p>
                <span class="edit"><a href="{:ZU('bookApply/edit', 'ZL_AUTHOR_DOMAIN', array('apply_id'=>$val['bk_id']))}">修改作品信息</a></span>  
              </dt> 
             <dd>
               <h3 class="tit">{$val.bk_name}</h3>  
                 <div class="cnt">
                    <p>最新更新：{$val.bk_public_name|default="暂无上传章节"} {$val.bk_now_date}</p>
                    <p>小说状态：{:ZC(C('APPLY.vip_status'), $val['bk_apply_status'])}</p>
                    <p>授权等级：{:ZC(C('BOOK.auth_level'), $val['bk_accredit'])}</p>
                 </div>
                 <span class="ctr">
                   <a href="{:ZU('bookApplyChapter/add', 'ZL_AUTHOR_DOMAIN', array('apply_id'=>$val['bk_id']))}" class="ctr_add">添加新章节</a>
                   <a href="{:ZU('bookApplyChapter/index', 'ZL_AUTHOR_DOMAIN', array('apply_id'=>$val['bk_id']))}" class="ctr_chap">章节管理</a>
                 </span>
             </dd>
           </dl>
           <?php endforeach;?>
           <?php else:?>
           <div class="work_no">
              <span class="no_stoy">您目前还没有待审核的作品！</span>
           </div>
           <?php endif;?>   
        </div>
    </div>
</div>      
</block>