<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$book_info.bk_name} - 逐浪封面页</title>
<link href="__STYLE__/css/style.css" type="text/css" rel="stylesheet">
<link href="__STYLE__/css/base.css" type="text/css" rel="stylesheet">
<script src="__STYLE__/js/jquery.min.js"></script>
<script src="__STYLE__/js/zlang.js"></script>
</head>
<body>
<div class="container">
  {// 顶部工具条}
  <div class="topbar">
    <div class="wrap">
      <include file="Public/topbar" />
    </div>
  </div>
  <!--TopbarEnd-->
  <div class="header">
    {// logo工具条}
    <div class="wrap">
      <include file="Public/logobar" />
      <!--TopEnd--> 
    </div>
    <div class="naver">
      {// menu工具条}
      <div class="wrap">
        <include file="Public/menubar" nav="book"/>
      </div>
    </div>
    <!--Nav End-->
    <div class="nov_nav">
      <div class="wrap">
        <ul class="nav_l">
          <li class="leftlst">
            <a href="{:C('ZL_DOMAIN')}">逐浪首页</a>>
            <?php foreach($book_cate as $val):?><a href="{:ZU('index/category', 'ZL_DOMAIN', array('class_id'=>$val['class_id']))}">{$val.name}</a>><?php endforeach;?>《{$book_info.bk_name}》({$book_info.bk_id})</li>
          <li class="rightlst"><a href="#">管理本书</a>|<a href="#">管理本书</a>|<a href="#">管理本书</a>|<a href="#">管理本书</a><a href="#">管理本书</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--Header End-->
  <div class="main">
    <div class="wrap">
      <div class="novel_cont">
      	 <div class="item_tit">
            <ul>
              <li class="active"><a href="#">介绍</a></li>
              <li><a href="#">目录</a></li>
              <li><a href="#">作者</a></li>
              <li><a href="#">评论</a></li>
            </ul>
          </div>
        <div class="novel">
          <!--//-->
          <div class="nov_item clearfix">
          	<span class="lianz"></span>	
            <div class="item_view"><img src="__STYLE__/images/nov_img01.jpg"></div>
            <div class="item_info">
              <div class="hd_item clearfix">
                <h2 class="h2_tit">{$book_info.bk_name}</h2>
                <span class="auth">作者：{$book_info.bk_author}</span></div>
              <div class="bd_item">
                <div class="item_nav">
                  <ul class="navlst_01">
                    <li>总点击：{$assign.rank.bk_visit_all}</li>
                    <li>总人气：{$assign.rank.bk_com_all}</li>
                    <li>周人气：{$assign.rank.bk_visit_week}</li>
                    <li>总字数：{$book_info.bk_size}</li>
                  </ul>
                </div>
                <p class="cont">{$book_info.bk_intro}</p>
                <p class="new_inf"><strong class="new">[最新更新]</strong><strong class="chap">{$book_info.bk_public_name}</strong><em class="date">{$book_info.bk_now_date|substr=0,-9}</em></p>
                <div class="bditem_nav">
                  <ul class="navlst_02">
                    <li class="on"><a href="{:ZU('index/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id']))}" style="display:block;width:112px;height:44px;"></a></li>
                    <li><a href="#">加入书架</a></li>
                    <li><a href="#">加入书架</a></li>
                    <li><a href="#">加入书架</a></li>
                    <li><a href="#">加入书架</a></li>
                  </ul>
                </div>
                <div> </div>
              </div>
            </div>
          </div>
          <!--//-->
          <div class="nov_read">
            <div class="hd_red">
              <h3 class="h3_tit"><b>最新章节阅读</b></h3>
            </div>
            <div class="bd_red"> 
              <span class="red_tit"><em>{$book_info.bk_public_name}</em>更新于：2013-04-01
              <p> 这一天是华夏这一天是华夏国这一天是华夏国这一天是华夏国这一天是华夏国这一天是华夏国这一天是华夏国这一天是华夏国这一天是华夏国这一天是华这一天是华这一天是华这一天是华 </p>
              <span class="red_vip"><a href="{:ZU('read/vip', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$book_info['bk_public_ch_id']))}">[阅读本章]</a><a href="#">升级成VIP会员</a></span></span>
            </div>
          </div>
          <div class="nov_commt">
            <div class="hd_commt">
              <h3 class="h3_tit_l h3_l"><b>黑道太子书评区</b></h3>
              <ul class="tab_comm clearfix">
                <li class="on"><a href="#">全部评论</a></li>
                <li><a href="#">精华评论</a></li>
              </ul>
            </div>
            <div class="bd_commt">
              <div class="commt_box">
              	<dl class="commt_dl">
              		<dt class="tit_toux"><a href="#"><img src="__STYLE__/images/toux_img.jpg"/></a></dt>
                    <dd class="commt_dd">
                	<div class="commt_tit"><a href="#"><span class="nam">王杰雄 <em class="vip">(VIP)</em></span>[评论]<em class="pra">精彩，叹为观止！</em><span class="recom"><em>[推荐] [精华] [置顶]</em></span><span class="date">2013-9-10</span> </a></div>
                <div class="commt_cont">
                  <p class="comm_info"><a href="#">叹为观叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止止</a>
                  <p> 
                </div>
                <span class="red_vip"><a href="#">【回复】</a><a href="#">【快速发表】</a></span> 
                <dd>
                </dl>
                </div>
              <!--//-->
              <div class="commt_box">
                <div class="commt_tit"> <a href="#"><span><em class="nam">王杰雄</em> <em class="vip">(VIP)</em></span>[评论]<strong>精彩，叹为观止！</strong><span class="recom"><em>[推荐] [精华] [置顶]</em></span><span class="date">2013-9-10</span> </a> </div>
                <div class="commt_cont">
                  <p class="comm_info"><a href="#">叹为观叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止止</a>
                  <p> 
                </div>
                <span class="red_vip"><a href="#">【回复】</a><a href="#">【快速发表】</a></span> </div>
              <!--//-->
              <div class="commt_box">
                <div class="commt_tit"> <a href="#"><span class="nam">王杰雄 <em class="vip">(VIP)</em></span>[评论]<strong>精彩，叹为观止！</strong><span class="recom"><em>[推荐] [精华] [置顶]</em></span><span class="date">2013-9-10</span> </a> </div>
                <div class="commt_cont">
                  <p  class="comm_info"><a href="#">叹为观叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止叹为观止止</a>
                  <p>
                  <div class="reply">
                    <p class="rep_info"><em class="nam">临水界</em> 回复：好的好的</p>
                  </div>
                </div>
                <span class="red_vip"><a href="#">【回复】</a><a href="#">【快速发表】</a></span> </div>
              <!--//-->
              <div class="commt_tot"> <span class="tot">本书评共 <strong>534</strong> 条主题<strong>434</strong>条回复 <em class="apply">【申请成为版主】</em> </span>
                <div class="page">
                  <ul class="page_lst">
                    <li class="first">第一页</li>
                    <li class="on"><a href="#"> 1 </a></li>
                    <li><a href="#"> 2 </a></li>
                    <li><a href="#"> 3 </a></li>
                    <li><a href="#"> 4 </a></li>
                    <li><a href="#"> 5 </a></li>
                    <li><a href="#">最后一页</a></li>
                  </ul>
                </div>
              </div>
              <div class="message">
                <div class="mess_sel">
                  <select class="sel">
                    <option>评论</option>
                    <option>评论</option>
                    <option>评论</option>
                  </select>
                  <input type="text" value="" name="" class="mess_inp"/>
                </div>
                <div class="mess_bioq">
                  <div class="biaoq_lst"><a href="#"><img src="__STYLE__/images/biaoq_ico1.jpg"/></a><a href="#"><img src="__STYLE__/images/biaoq_ico1.jpg"/></a><a href="__STYLE__/images/biaoq_ico1.jpg"><img src="__STYLE__/images/biaoq_ico1.jpg"/></a></div>
                  <div class="biqoq_sel"> <img src="__STYLE__/images/biaoq_Sel.jpg"/> </div>
                </div>
                <div class="mes_textar">
                  <textarea>提醒：您的鼓励是作者最大的动力</textarea>
                  <span class="btn_sumt"><a href="#"></a></span> </div>
              </div>
            </div>
          </div>
          <!--//--> 
        </div>
        <div class="novel_r">
          <div class="r_sec_01 bor_sty">
            <div class="hd_01">
              <h3 class="h3_tit"><b>本书最新消息</b></h3>
            </div>
            <div class="bd_01">
              <ul class="bdlst_01">
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
                <li> <span>容绍 <em>打赏作品100元</em></span></li>
              </ul>
              <div class="oth">
                <ul class="othlst">
                  <li class="on"><a href="#"></a></li>
                  <li><a href="#">我要打赏</a></li>
                  <li><a href="#">我要打赏</a></li>
                  <li><a href="#">我要打赏</a></li>
                </ul>
              </div>
            </div>
          </div>
          <!--//-->
          <div class="r_sec_02 bor_sty">
            <div class="hd_02">
              <h3 class="h3_tit"><b>作品相关</b></h3>
            </div>
            <div class="bd_02"> <span class="nam"><strong>《{$book_info.bk_name}》</strong></span>
              <ul class="bdlst_02">
                <li>作品类型：{$assign.category}</li>
                <li>入库日期：{$book_info.bk_cre_time|substr=0,-9}</li>
                <li>更新情况：{:ZC(C('BK.full_flag'), $book_info['bk_fullflag'])}</li>
                <li>周点击：{$assign.rank.bk_visit_week}</li>
                <li>周推荐：{$assign.rank.bk_com_week}</li>
              </ul>
              <div class="oth">
                <p class="oth_info">
                  <a href="#">《{$book_info.bk_name}》由作者{$book_info.bk_author}上传，逐浪网提供网络空间。如发现该作品上传人有侵权行为请及时与我们联系。
                  </a> 
                </p>
              </div>
            </div>
          </div>
          <!--//-->
          <div class="r_sec_03 bor_sty">
            <div class="hd_03">
              <h3 class="h3_tit"><b>本书粉丝排行榜</b></h3>
            </div>
            <div class="bd_03">
              <ul class="bdlst_03">
                <li class="tit"><span class="w_01">排名</span><span class="w_02">昵称</span><span class="w_03">等级</span></li>
                <li class="on"><span class="w_01"><i class="ico_num_01">1</i></span><span class="w_02">夜里听雨</span><span class="w_03">执事</span></li>
                <li><span class="w_01"><i class="ico_num_02">2</i></span><span class="w_02">夜里听雨</span><span class="w_03">执事</span></li>
                <li><span class="w_01"><i class="ico_num_01">3</i></span><span class="w_02">夜里听雨</span><span class="w_03">执事</span></li>
              </ul>
            </div>
          </div>
          <!--//-->
          <div class="r_sec_04 bor_sty">
            <div class="hd_04">
              <h3 class="h3_tit"><b>此作者推荐小说</b></h3>
            </div>
            <div class="bd_04">
              <ul class="bdlst_04">
                <li><a href="#"><img src="__STYLE__/images/r_Sec_img01.jpg"><h3>尸血沸腾</h3></a></li>
                <li><a href="#"><img src="__STYLE__/images/r_Sec_img01.jpg"><h3>尸血沸腾</h3></a></li>
                <li><a href="#"><img src="__STYLE__/images/r_Sec_img01.jpg"><h3>尸血沸腾</h3></a></li>
                <li><a href="#"><img src="__STYLE__/images/r_Sec_img01.jpg"><h3>尸血沸腾</h3></a></li>
              </ul>
            </div>
          </div>
          <!--//-->
          <div class="r_sec_05 bor_sty">
            <div class="hd_05">
              <h3 class="h3_tit"><b>本周热门推荐</b></h3>
            </div>
            <div class="bd_05">
              <ul class="bdlst_05">
                <li class="on"><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
              </ul>
            </div>
          </div>
          <!--//-->
          <div class="r_sec_05 bor_sty">
            <div class="hd_05">
              <h3 class="h3_tit"><b>本类热门推荐</b></h3>
            </div>
            <div class="bd_05">
              <ul class="bdlst_05">
                <li class="on"><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
                <li><a href="#"><em>玄幻|</em>残刀斩天</a></li>
              </ul>
            </div>
          </div>
          <!--//--> 
          
        </div>
      </div>
      {// 精品收藏}
      <div class="store bor_sty">
        <include file="Book/store" />
      </div>
      <!--//-->
      {// 网站地图}
      <div class="map bor_sty">
        <include file="Public/map" />
      </div>
      <!--//-->
      {// 友情连接}
      <div class="link bor_sty">
        <include file="Public/link" />
      </div>
      <!--Footer-->
      <div class="footer">      
        <include file="Public/footer" />
      </div>
    </div>
  </div>
</div>
</body>
</html>