<div class="hd_stor">
  <h3 class="h3_tit"><b>精品收藏</b></h3>
</div>
<div class="bd_stor">
  <ul class="storlst">
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
    <li><a href="#"><span class="pic"><img src="__STYLE__/images/stor_img_01.jpg"/></span>
      <h3 class="stor_nam">官界</h3>
      </a></li>
  </ul>
</div>