<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$book_info.bk_name} - 目录章节页</title>
<link href="{:z_css('book_style')}" type="text/css" rel="stylesheet">
<link href="{:z_css('book_base')}" type="text/css" rel="stylesheet">
</head>
<body>
{// 顶部工具条}
<div class="topbar">
  <div class="wrap">
    <include file="Public/topbar" />
  </div>
</div>
<!--TopbarEnd-->
<div class="header">
  {// logo工具条}
  <div class="wrap">
    <include file="Public/logobar" />
    <!--TopEnd--> 
  </div>
  <div class="naver">
    {// menu工具条}
    <div class="wrap">
      <include file="Public/menubar" nav="book"/>
    </div>
  </div>
  <!--Nav End-->
  <div class="nov_nav">
    <div class="wrap">
      <ul class="nav_l">
        <li class="leftlst">
            <a href="{:C('ZL_DOMAIN')}">逐浪首页</a>>
            <?php foreach($book_cate as $val):?><a href="{:ZU('index/category', 'ZL_DOMAIN', array('class_id'=>$val['class_id']))}">{$val.name}</a>><?php endforeach;?>《{$book_info.bk_name}》({$book_info.bk_id})</li>
        <li class="rightlst"><a href="#">管理本书</a>|<a href="#">管理本书</a>|<a href="#">管理本书</a>|<a href="#">管理本书</a><a href="#">管理本书</a></li>
      </ul>
    </div>
  </div>
</div>
<!--Header End-->
<div class="main">
  <div class="content">
    <div class="top_name">
      <h2>{$book_info.bk_name}</h2>
      <ul>
        <li>作者：<a href="#">{$book_info.bk_author}</a></li>
        <li>最新章节：<a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$book_info['bk_public_ch_id']))}">{$book_info.bk_public_name}</a></li>
        <li>更新时间：{$book_info.bk_now_date}</li>
      </ul>
      <ul>
        <li>VIP最新章节：<a href="{:ZU('read/vip', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$book_info['bk_vip_ch_id']))}">{$book_info.bk_vip_name}</a></li>
        <li>更新时间：{$book_info.bk_now_date}</li>
      </ul>
      <P><span>全文下载：</span><a href="#">HEM</a><a href="#">TXT</a></P>
    </div>

    {// 不同卷下的不同章节 }
    <?php foreach($catalog as $key=>$val):?>
    <div class="cont_main">
      <h3> <cite>{$val.volume_name}<a href="javascript:;">（分卷阅读）</a></cite> <span> <a href="{:ZU('app/flower/index', 'ZL_DOMAIN', array('book_id'=>$book_info['bk_id']))}" target="_blank">给本书送鲜花</a>| <a href="{:ZU('app/reward/index', 'ZL_DOMAIN', array('book_id'=>$book_info['bk_id']))}" target="_blank">我要打赏</a>| <a href="javascript:;" target="_blank">我要投票</a>| <a href="javascript:;" target="_blank">我要推荐</a>| <a href="javascript:;" target="_blank">我要评论</a> </span> </h3>
      <p>{$book_info.bk_intro}</p>
      <div class="ct_list"> 
        <?php $i=0;?>
        <?php foreach($val['volume_chapter'] as $chapter_id => $chapter):?><a 
        <?php if($chapter['chapter_vip']):?>
          <?php if($chapter['chapter_own']):?>
            style="color:red;background:yellow;"
          <?php else:?>
            style="color:red;"
          <?php endif;?>
        <?php endif;?> href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$chapter_id))}" target="_blank" <?php if($i%3==0):?>class="bod_lt"<?php endif;?>>{$chapter.chapter_name}<?php if($chapter['chapter_vip']):?>[vip]<?php endif;?></a><?php ++$i;?><?php endforeach;?>
      </div>
    </div>
    <?php endforeach;?>
    {// 不同卷下的不同章节end }

    {// 精品收藏}
    <div class="store bor_sty">
      <include file="Public/store" />
    </div>
    <!--//-->
    {// 网站地图}
    <div class="map bor_sty">
      <include file="Public/map" />
    </div>
    <!--//-->
    {// 友情连接}
    <div class="link bor_sty">
      <include file="Public/link" />
    </div>
    <div class="footer">      
      <include file="Public/footer" />
    </div>
  </div>
</div>
</body>
</html>