<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$seo.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>
		body{padding-top:80px;}
	</style>
</head>
<body>

	<!-- 公共头部 -->
	<include file="Common@Public/header" />
	
    <div class="container">
    	<div class="row">
    		<div class="span3">
	    		<include file="Common@Public/sidebar" nav="book"/>
	    	</div>
	    	<div class="span9">
				<ul class="breadcrumb">
					<li class="active">作品管理</li>
				</ul>
	    		<div class="alert alert-info">注：点击“操作本书”即可对当前作品进行新章上传、旧章更改调卷等操作，操作菜单在左侧栏目中显示
"[]"括号内的数字为收藏人数！</div>
	    		<table class="table table-hover">
	    			<thead>
	    				<tr>
							<th>书号</th>
							<th>书名</th>
							<th>最后章节</th>
							<th>最后更新时间</th>
							<th>操作</th>
						</tr>
	    			</thead>
	    			<tbody>
						<tr>
	    					<th>1111</th>
	    					<th>《笑傲江湖》</th>
	    					<th>第三十五章 独孤九剑</th>
	    					<th>2014-09-10 16:29:32</th>
	    					<th><a href="">管理</a></th>
	    				</tr>
	    				<tr>
	    					<th>1112</th>
	    					<th>《天龙八部》</th>
	    					<th>第三十二章 珍珑棋局</th>
	    					<th>2014-02-10 16:29:32</th>
	    					<th><a href="">管理</a></th>
	    				</tr>	    				

	    			</tbody>
	    		</table>	
	    	</div>
    	</div>

		<!-- 公共底部 -->
		<include file="Common@Public/footer" />
    </div>


	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	<script type="text/javascript">
		jQuery(function(){

			$.debug('首页');
		});
	</script>
</body>
</html>