body {
    color: #000000;
    font-family: Arial,Helvetica,sans-serif,"宋体";
    font-size: 12px;
    margin: 0;
}

*{ margin:0; padding:0;}
img{ border:none;}
a{ text-decoration:none; color:#000000;}
ul li{ list-style:none;}
.box{ width:1000px; margin:0 auto; height:auto;}
.blue_font_color{ color: #17469e;}
.orange_font_color{ color:#e36500;}
.tubiao_color{ color:#458fce;}
.tupian_bg_color{ background:#dee8f2;}
.wenzi_color{ color:#000000;}
.wenzi_gry_color{ color:#8a8989;}
.wenzi_green_color{ color:#479706;}
.font_size{ font-size:14px;}
.font_bold{ font-weight:bold;}