<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>RBAC管理 - 添加管理员</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('user/doAdd', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						<div class="form-item cf">
			                <label class="item-label">
			                	用户名<span class="check-tips"></span>
			                </label>
							<div class="controls">
								<input class="text input-large" type="text" name="user_name" value="" placeholder="请输入用户名" />
			            	</div>  
			            </div>

			            <div class="form-item cf">
			                <label class="item-label">
			                	密码<span class="check-tips"></span>
			                </label>
							<div class="controls">
								<input class="text input-large" type="text" name="password" value="" placeholder="请输入密码" />
			            	</div>  
			            </div>

			            <div class="form-item cf">
			                <label class="item-label">
			                	昵称<span class="check-tips"></span>
			                </label>
							<div class="controls">
								<input class="text input-large" type="text" name="nickname" value="" placeholder="请输入昵称" />
			            	</div>  
			            </div>
			        </div>
					
					<div class="form-item cf">
						<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
					</div>
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){
	
	showTab();
	$.menu('setting', 'rbac', 'user-list');
});

</script>
</block>