<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
	<div id="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
	    <div id="main" class="main">
			<!-- 标题栏 -->
			<div class="main-title">
				<h2>审核管理 - 待签约作品列表</h2>
			</div>

		    <div>
				<div class="btn-group">
					<button class="btn current">未签约</button>
					<button class="btn">已签约</button>
				</div>
		    </div>

			<!-- 数据列表 -->
			<div class="data-table">
				<table class="">
				    <thead>
				        <tr>
						<th class="">作品编号</th>
						<th class="">作品名称</th>
						<th class="">作者</th>
						<th class="">作品字数</th>
						<th class="">申请时间</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
				    	<?php foreach($vip_list as $val):?>
						<tr>
							<td>{$val.bk_id}</td>
							<td><a href="{:ZU('book/index', 'ZL_DOMAIN', array('book_id'=>$val['bk_id	']))}" target="_blank">《{$val.bk_name}》</a></td>
							<td>{$val.author_name}</td>
							<td>{$val.bk_size}</td>
							<td>{$val.create_time}</td>
							<td>
								<a href="{:ZU('check/BookApplyVip/check', 'ZL_ADMIN_DOMAIN', array('book_id'=>$val['bk_id']))}" class="btn">签约</a>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
			    </table>
			</div>
			<!-- 分页 -->
			<?php if(!empty($page)):?>
			<div class="page">{$page}</div>
			<?php endif;?>
	    </div>
	    <div class="cont-ft">
            <div class="copyright">
                <include file="Common@Public/footer" />
            </div>
        </div>
    </div>
</block>

<block name="js">
<script type="text/javascript">
    jQuery(function($){
        $.menu('kefu', 'check', 'book-apply-vip');
    });
</script>   
</block>