<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
	<div id="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
	    <div id="main" class="main">
			<!-- 标题栏 -->
			<div class="main-title">
				<h2>作品管理 - 作品列表</h2>
			</div>

		    <div style="height:30px;">
				<!-- <div class="btn-group">
					<button class="btn current">待审核</button>
					<button class="btn">未通过</button>
				</div> -->
				
				<!-- 右边搜索 -->
				<div class="search-form fr cf">
					<div class="sleft">

						<div class="drop-down">
							<span data="{$param.bk_fullflag}" class="sort-txt" id="sch-fullflag-status">
								<?php if($param['bk_fullflag'] === '0' || !empty($param['bk_fullflag'])):?>
								{:ZC(C('BOOK.full_flag'), $param['bk_fullflag'])}
								<?php else:?>
								所有
								<?php endif;?>
							</span>
							<i class="arrow arrow-down"></i>
							<ul class="nav-list hidden drop-down-menu">
								<li><a value="" href="javascript:;">所有</a></li>
								<?php foreach(C('BOOK.full_flag') as $key => $val):?>
								<li><a value="{$key}" href="javascript:;">{$val}</a></li>
								<?php endforeach;?>
							</ul>
						</div>

						<div class="drop-down">
							<span data="{$param.bk_status}" class="sort-txt" id="sch-book-status">
								<?php if(!empty($param['bk_status'])):?>
								{:ZC(C('BOOK.status'), $param['bk_status'])}
								<?php else:?>
								所有
								<?php endif;?>
							</span>
							<i class="arrow arrow-down"></i>
							<ul class="nav-list hidden drop-down-menu">
								<li><a value="" href="javascript:;">所有</a></li>
								<?php foreach(C('BOOK.status') as $key => $val):?>
								<li><a value="{$key}" href="javascript:;">{$val}</a></li>
								<?php endforeach;?>
							</ul>
						</div>
						<input type="text" placeholder="请输入作品名称" value="{$param.bk_name}" class="search-input" name="bk_name">
						<a url="{:ZU('book/index/index', 'ZL_ADMIN_DOMAIN')}" id="search" href="javascript:;" class="sch-btn"><i class="btn-search"></i></a>
					</div>
		            <div class="btn-group-click adv-sch-pannel fl">

		                <button class="btn">高 级<i class="btn-arrowdown"></i></button>
		                <div class="dropdown cf" style="display: none;">
		                	<!-- <div class="row">
		                		<label>更新时间：</label>
		                		<input type="text" placeholder="起始时间" value="" class="text input-2x" name="time-start" id="time-start"> -
		                		<input type="text" placeholder="结束时间" value="" class="text input-2x" name="time-end" id="time-end">
		                	</div> -->
		                	<div class="row">
		                		<label>作者：</label>
		                		<input type="text" placeholder="请输入作者名称" value="{$param.bk_author}" class="text input-2x" name="bk_author">
		                	</div>
		                </div>
		                <button class="btn clear-param">清空条件</button>
		            </div>
				</div>
				<!-- /右边搜索 -->
		    </div>

			<!-- 数据列表 -->
			<div class="data-table">
				<table class="">
				    <thead>
				        <tr>
						<th class="row-selected row-selected"><input type="checkbox"></th>
						<th class="">编号</th>
						<th class="">作品封面</th>
						<th class="">作品类别</th>
						<th class="">作品名</th>
						<th class="">作者</th>
						<th class="">作品状态</th>
						<th class="">最后更新的普通章节</th>
						<th class="">最后更新的VIP章节</th>
						<th class="">创建日期</th>
						<th class="">最后更新日期</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
				    	<?php foreach($book_list as $val):?>
						<tr>
							<td><input type="checkbox"></td>
							<td>{$val.bk_id}</td>
							<td>
								<img src="{:z_cover($val['bk_id'], $val['bk_cover'])}" style="height:60px;"/>
							</td>
							<td>{:ZC($assign['class'][$val['bk_class_id']], 'class_name')}</td>
							<td><a href="{:ZU('book/index', 'ZL_DOMAIN', array('book_id'=>$val['bk_id']))}" target="_blank">{$val.bk_name}</a></td>
							<td>{$val.bk_author}</td>
							<td>{:ZC(C('BOOK.full_flag'), $val['bk_fullflag'])}</td>
							<td>{$val.bk_public_name|default=" - "}</td>
							<td>{$val.bk_public_name|default=" - "}</td>
							<td>{$val.bk_cre_time}</td>
							<td>{$val.bk_now_date}</td>
							<td>
								<a href="{:ZU('book/index/edit', 'ZL_ADMIN_DOMAIN', array('book_id'=>$val['bk_id']))}" class="btn">编辑</a>
								<a target="_blank" href="{:ZU('chapter/index', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$val['bk_id']))}" class="btn">章节</a>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
			    </table>
			</div>

			<div class="controls"></div>

			<!-- 分页 -->
			<?php if(!empty($page)):?>
			<div class="controls fr">
				<div class="page">{$page}</div>
			</div>
			<?php endif;?>
	    </div>
    </div>
</block>

<block name="js">
<link href="__JS__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__JS__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__JS__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var fullflag_status = $("#sch-fullflag-status").attr("data");
		var book_status = $("#sch-book-status").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');

		if(fullflag_status != ''){
			query = 'bk_fullflag=' + fullflag_status + "&" + query;
        }

        if(book_status != ''){
			query = 'bk_status=' + book_status + "&" + query;
        }

        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	$('.clear-param').on('click', function(){
		var url = $('#search').attr('url');
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$(this).find(".drop-down-menu").removeClass("hidden");
	},function(){
		$(this).find(".drop-down-menu").addClass("hidden");
	});
	$(".drop-down-menu li").find("a").each(function(){
		var parent = $(this).parents('.drop-down');
		$(this).click(function(){
			var text = $(this).text();
			parent.find('.sort-txt').text(text).attr("data",$(this).attr("value"));
			parent.find('.drop-down-menu').addClass("hidden");
		})
	});

	//只有一个模型时，点击新增
	$('.document_add').click(function(){
		var url = $(this).attr('url');
		if(url != undefined && url != ''){
			window.location.href = url;
		}
	});

	//点击排序
	$('.list_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#time-start').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });

    $('#time-end').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
	    minView:2,
	    autoclose:true
    });
})
</script>

<script type="text/javascript">
    jQuery(function($){
        $.menu('book', 'manager', 'list');
    });
</script>   
</block>