<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>逐浪小说/玄幻小说/网游小说/武侠小说/言情小说阅读网</title>
<link rel="stylesheet" type="text/css" media="all" href="http://www.zhulang.com/css/small_cp.css" />
<style type="text/css">
<!--
.STYLE1 {
	color: #FF0000
}

-->
.STYLE2 a,.STYLE2 a:hover,.STYLE2 a:visited,.STYLE2 a:link {
	color: #012E8F;
	text-decoration: underline;
}

.STYLE3 {
	color: #ff0000;
	font-size: 14px;
}

.STYLE4 {
	color: #FF0000;
}
-->
</style>
<script src="{:z_js()}"></script>
</head>

<body onLoad="window.setTimeout('count()',1)">
<form method="post" action="{:ZU('app/reward/doAdd', 'ZL_DOMAIN', array('book_id'=>$book_info['bk_id'], 'setback'=>z_referer()))}" onsubmit="return $.addReward();">
	<div class="layout">
		<div class="main">
			<div class="title"><span class="STYLE4">欢迎您对作品打赏,谢谢您对作者的支持!</span></div>
			<div class="list">
				<ul>
					<li>打赏作品：《{$book_info.bk_name}》，作者：{$book_info.bk_author}</li>
					<?php if($user_info['amount'] >= C('APP.min_reward_num')):?>
					<li>您的余额：{$user_info.amount} 逐浪币</li>
					<li> 我要投
						<select name="num" id="reward_num">
							<?php foreach(C('APP.reward_quick_num') as $val):?>
							<option value="{$val}">{$val}</option>
							<?php endforeach;?>
						</select>
						逐浪币
						<input type="submit" value=" 点此打赏 " class="btnsubmit1"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="http://hud.zhulang.com/whywt/" target="_blank">免费得逐浪币</a>
					</li>
					<?php else:?>
					<li>您的当前余额（{$user_info['amount']} 逐浪币）不足（最少打赏{:C('APP.min_reward_num')}逐浪币）!</li>	
					<?php endif;?>
					<div class="br"></div>
				</ul>
			</div>
			<div id="closetimediv" class="quit">
				<input type="button" value="关闭窗口"
				class="btnsubmit"  onclick="self.close();" />&nbsp; 或　
				<span id="rest" style="color:#FF0000"></span>秒后自动关闭！
			</div>
			<div class="quit"></div>
		</div>
	</div>
</form>
<script type="text/javascript">
	// 多少秒 自动关闭
	var time=36000;	
	function count(){
		setTimeout("count()",1000);
		rest.innerHTML=time; 
		time--;
		if(time==0){
			self.close();
		}		
	}
	
	jQuery(function($){
		$.extend({
			addReward : function()
			{
				var isOk = false;
				var num = $('#reward_num').val().replace(/\s+/, '');
				var maxNum = {$user_info.amount};
				var minNum = {:C('APP.min_reward_num')};

				if (num > maxNum) {
					alert('您的余额不足');

				} else if (num < minNum) {
					alert('最低不允许小于'+minNum+'逐浪币');
				} else {
					isOk = true;
				}
				return isOk;
			}

		});
	});
</script>
</body>
</html>