<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>修改【{$info.author_name}】的签约信息</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">签约信息修改</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('author/info/doAuthorInfo', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						<div class="form-item">
							<label class="item-label">
								真实姓名<span class="check-tips"></span>
							</label>
							<div class="controls">
								<input type="text" class="text" name="user_true_name" placeholder="请输入真实姓名" value="{$info['user_true_name']}">
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								地址<span class="check-tips"></span>
							</label>
							<div class="controls">
								<input type="text" class="text" name="user_address" placeholder="请输入地址" value="{$info['user_address']}">
							</div>
						</div>
						<div class="form-item">
							<label class="item-label">
								邮编地址<span class="check-tips"></span>
							</label>
							<div class="controls">
								<input type="text" class="text" name="user_zipcode" placeholder="请输入邮编地址" value="{$info['user_zipcode']}">
							</div>
						</div>
						
			        </div>
					<div class="form-item cf">
						<input type="hidden" name="user_id" value="{$info.user_id}" />
						<button class="btn submit-btn hidden ajax-post" id="submit" type="submit" target-form="form-horizontal">修 改</button>
						<a class="btn btn-return" href="{:ZU('author/index/show', 'ZL_ADMIN_DOMAIN', array('user_id'=>$info['user_id']))}">返 回</a>
					</div>
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
    </div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){
	
	showTab();
	$.menu('author', 'manager', 'list');
});
</script>
</block>