<extend name="Common@Public/base" />

{// 主体内容}
<block name="main">
	<div id="main-content">
        <div id="top-alert" class="fixed alert alert-error" style="display: none;">
            <button class="close fixed" style="margin-top: 4px;">&times;</button>
            <div class="alert-content">这是内容</div>
        </div>
	    <div id="main" class="main">
			<!-- 标题栏 -->
			<div class="main-title">
				<h2>作者管理 - 搜索“{$map.name}”结果</h2>
			</div>

		    <div style="height:30px;">

				<!-- 右边搜索 -->
				<div class="search-form fr cf">
					<div class="sleft">
						<div class="drop-down">
							<span data="{$param.bk_status}" class="sort-txt" id="sch-name">
								<?php echo $search_type[$map['name_type']];?>
							</span>
							<i class="arrow arrow-down"></i>
							<ul class="nav-list hidden drop-down-menu">
								<?php foreach($search_type as $key => $val):?>
								<li><a value="{$key}" href="javascript:;">{$val}</a></li>
								<?php endforeach;?>
							</ul>
						</div>
						<input type="text" placeholder="请输入作品名称" value="{$map.name}" class="search-input" name="name">
						<a url="{:ZU('author/index/index', 'ZL_ADMIN_DOMAIN')}" id="search" href="javascript:;" class="sch-btn"><i class="btn-search"></i></a>
					</div>
				</div>
				<!-- /右边搜索 -->
		    </div>

			<!-- 数据列表 -->
			<div class="data-table">
				<table class="">
				    <thead>
				        <tr>
						<th class="">用户编号</th>
						<th class="">用户名</th>
						<th class="">作者笔名 / 用户昵称</th>
						<th class="">最后登录时间 / 最后登录IP</th>
						<th class="">创建时间</th>
						<th class="">作者状态</th>
						<th class="">签约级别</th>
						<th class="">操作</th>
						</tr>
				    </thead>
				    <tbody>
				    	<?php foreach($data as $val):?>
						<tr>
							<td>{$val.user_id}</td>
							<td>{$val.user_name}</td>
							<td>{$val.author_name} / {$val.user_nickname|default="暂未设置"}</td>
							<td>{$val.user_login_time} / {$val.user_login_ip}</td>
							<td>{$val.create_time}</td>
							<td>{:ZC(C('USER.user_state'), $val['user_state'])}</td>
							<td>{$val.author_class}</td>
							<td>
								<a href="{:ZU('author/index/show', 'ZL_ADMIN_DOMAIN', array('user_id'=>$val['user_id']))}" class="btn">查看</a>
							</td>
						</tr>
						<?php endforeach;?>
					</tbody>
			    </table>
			</div>

			<div class="controls"></div>

			<!-- 分页 -->
			<?php if(!empty($page)):?>
			<div class="controls fr">
				<div class="page">{$page}</div>
			</div>
			<?php endif;?>
	    </div>
    </div>
</block>

<block name="js">
<link href="__JS__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<link href="__JS__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__JS__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__JS__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
$(function(){
	//搜索功能
	$("#search").click(function(){
		var url = $(this).attr('url');
		var name_type = $("#sch-name").attr("data");
        var query  = $('.search-form').find('input').serialize();
        query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g,'');
        query = query.replace(/^&/g,'');

        if(name_type != ''){
			query = 'name_type=' + name_type + "&" + query;
        }

        if( url.indexOf('?')>0 ){
            url += '&' + query;
        }else{
            url += '?' + query;
        }
		window.location.href = url;
	});

	$('.clear-param').on('click', function(){
		var url = $('#search').attr('url');
		window.location.href = url;
	});

	/* 状态搜索子菜单 */
	$(".search-form").find(".drop-down").hover(function(){
		$(this).find(".drop-down-menu").removeClass("hidden");
	},function(){
		$(this).find(".drop-down-menu").addClass("hidden");
	});
	$(".drop-down-menu li").find("a").each(function(){
		var parent = $(this).parents('.drop-down');
		$(this).click(function(){
			var text = $(this).text();
			parent.find('.sort-txt').text(text).attr("data",$(this).attr("value"));
			parent.find('.drop-down-menu').addClass("hidden");
		})
	});

    //回车自动提交
    $('.search-form').find('input').keyup(function(event){
        if(event.keyCode===13){
            $("#search").click();
        }
    });

    $('#sch-name').attr('data', '{$map.name_type}');
})
</script>

<script type="text/javascript">
    jQuery(function($){
        $.menu('author', 'manager', 'list');
    });
</script>   
</block>