<div class="control-group">
	<label class="control-label">原卷</label>
	<div class="controls">
		<input type="text" value="<?php echo $volume_list[$chapter_info['ch_roll']];?>" disabled/>
	</div>
</div>
<?php if(count($volume_list) > 2):?>
<div class="control-group">
	<label for="" class="control-label">选择归入卷</label>
	<div class="controls">
		<select name="ch_roll" id="">
			<?php foreach($volume_list as $key => $val):?>
				<option value="{$key}">{$val}</option>
			<?php endforeach;?>
		</select>
	</div>
</div>
<?php endif;?>

{// 添加modal的属性}
<input type="hidden" class="modal-action" value="{:ZU('chapter/doEditVolume', 'ZL_AUTHOR_DOMAIN', array('book_id'=>I('book_id'), 'ch_id'=>$chapter_info['ch_id']))}" />
<input type="hidden" class="modal-title" value="修改章节 - {$chapter_info.ch_name}" />