<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="manager" />
</block>

<block name="main">
<div class="work_cnt">
    <div class="hd_usr">
      <ul class="hd_nav">
           <li class="on">
              <a href="javascript:;">{$book_info.bk_name}</a>
           </li>
        </ul>
        <a href="javascript:history.go(-1);" class="colr_02 sbtn_back">返回 >></a>
    </div>
    <div class="bd">                     
        <div class="w_new_cnt w_info_mange">
          <div class="a_sect_lst">
            <include file="Book/action" ac="chapter"/>
            <div class="autr_nav_line"></div>         
          </div> 
            <div class="shel_filt">
              <span class="filt_l">
                作品：<span class="nam">{$book_info.bk_name}</span>
                共<em class="colr_01">{$assign.volume_total}</em>卷 
                <span class="num_sect">{$assign.volume_chapter}章</span>
              </span>
              <span class="filt_r">
                <a href="javascript:;" class="sbtn_06">新建章节</a>
              </span>
            </div>
          <div class="cutbox">
            <div class="cutbut"></div>
              {// 左侧章节列表}
              <div class="cutleft">
                  <include file="left_list" />
                  <div class="cons" style="display:none"></div>
              </div>
              {// 右侧动作栏}
              <div class="cutright">
                <form action="{:ZU('chapter/doEdit', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$chapter_info['ch_id']))}" method="post">
                  <div class="cutable">
                        <?php if(count($volume_list) > 2):?>
                        <div class="th">
                            <span>发表至：</span>
                            <select name="volume">
                              <?php foreach($volume_list as $key=>$val):?>
                              <option value="{$key}" <?php if($key==$chapter_info['ch_roll']):?>selected="selected"<?php endif;?>>{$val}</option>
                              <?php endforeach;?>
                            </select>
                        </div>
                        <?php endif;?>
                        <div class="tr">
                          <span class="td">章节名称：</span>
                            <div class="tdt">
                              <input name="ch_name" type="text" class="input_text" placeholder="输入章节号和章节名，示例：第一章 婚礼" autocomplete="off" value="{$chapter_info.ch_name}"/>
                                <p class="fred">为配合第三方渠道发布，请注意章节号顺序发布，格式以示例为佳（如：第一章 婚礼），不要使用英文做为章节序号。</p>
                            </div>
                            <div class="tds">
                              <input name="app[flower]" type="checkbox" value="1" /><label>求鲜花</label>
                              <input name="app[gift]" type="checkbox" value="1" /><label>求打赏</label>
                            </div>
                        </div>
                        <div class="tr tzreo">
                          <span class="td">章节类型：</span>
                            <div class="tdd">
                              <label><input name="vip" type="radio" value="0" <?php if($chapter_info['ch_vip'] == 0):?>checked="checked"<?php endif;?>/>公共章节</label>
                              <label><input name="vip" type="radio" value="1" <?php if($chapter_info['ch_vip'] == 1):?>checked="checked"<?php endif;?>/>VIP章节</label>
                            </div>
                        </div>
                        <div class="tr twu">
                          <p>正文内容：</p>
                            <textarea name="content" cols="" rows="" class="textarea_t">{$chapter_info.ch_content}</textarea>
                            <p><span>章节总字数需在2000至30000间</span><a class="a_bot" href="">字数计算</a></p>
                        </div>
                        <div class="tr">
                          <p>作者的话：</p>
                            <textarea name="intro" cols="" rows="" class="textarea_m">{$chapter_info.ch_intro}</textarea>
                        </div>
                        <div class="tr">
                          <!-- <a class="sbtn_07" href="#">存草稿箱</a> -->
                          <button>确认修改</butotn>
                        </div>
                    </div>
                </form>
              </div>
          </div>
        </div>
    </div>
</div>
</block>


<block name="js">
<script type="text/javascript">
  jQuery(function($){
    $.leftHide();
    $.chapterTab();
    $.lineTab();

  });
</script>
</block>