<ul class="tabs">
    <li class="active">章节列表</li>
    <!-- <li>VIP章节列表</li> -->
</ul>
<div class="cons">
    <?php 
      $i = 1;
      $chapter_t = count($chapter_list);
    ?>
    <?php foreach($chapter_list as $volume_key=>$volume_val):?>
      <div class="leftnav <?php if($volume_key == $chapter_info['ch_roll'] || ($i == $chapter_t && empty($chapter_info))):?>highlight<?php endif;?>">
      <h2>{$volume_val.volume_name}<span></span></h2>
        <ul>
            <?php foreach($volume_val['volume_chapter'] as $chapter_key=>$chapter_val):?>
            <?php if($ch_id == $chapter_key):?>
              <li class="on">{$chapter_val.chapter_name}<?php if($chapter_val['chapter_vip']):?>[vip]<?php endif;?></li>
            <?php else:?>
              <li><a href="{:ZU('chapter/edit', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id'], 'ch_id'=>$chapter_key))}">{$chapter_val.chapter_name}<?php if($chapter_val['chapter_vip']):?>[vip]<?php endif;?></a></li>
            <?php endif;?>
            <?php endforeach;?>
        </ul>
      </div>
    <?php ++$i;?>
    <?php endforeach;?>
</div>