<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>购买单章页面</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>
		body{padding-top:80px;}
	</style>
</head>
<body>
	<!-- 公共头部 -->
	<include file="Common@Public/header" />
		
	<div class="container">
		
		
	</div>

<script src="__JS__/jquery.min.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script src="__JS__/zlang.js"></script>
<script type="text/javascript">
	jQuery(function(){

		$.debug("购买单章页面");
	});
</script>
</body>
</html>