<div class="header">
    <!-- Logo -->
    <span class="logo"></span>
    <!-- /Logo -->

    <!-- 主导航 -->
    <ul class="main-nav menu-tab">
        <li sub-target="subnav-book" class="menu-tab-book">
            <a href="javascript:;">作品管理</a>
        </li>
        <li sub-target="subnav-author" class="menu-tab-author">
            <a href="javascript:;">作者管理</a>
        </li>
        <li sub-target="subnav-kefu" class="menu-tab-kefu">
            <a href="javascript:;">客服工具</a>
        </li>

        {// 如果是网站管理员，则显示扩展网站的设置信息}
        <?php if($admin_info['gid'] == 1):?>
        <li sub-target="subnav-setting" class="menu-tab-setting">
            <a href="javascript:;">设置</a>
        </li>
        <?php endif;?>
    </ul>
    <!-- /主导航 -->

    <!-- 用户栏 -->
    <div class="user-bar">
        <a href="javascript:;" class="user-entrance"><i class="icon-user"></i></a>
        <ul class="nav-list user-menu hidden">
            <li class="manager">你好，<em title="admin">{$admin_info.user_nickname}</em></li>
            <li><a href="{:ZU('user/password', 'ZL_ADMIN_DOMAIN')}">修改密码</a></li>
            <li><a href="{:ZU('user/nickname', 'ZL_ADMIN_DOMAIN')}">修改昵称</a></li>
            <li><a href="{:ZU('login/logout', 'ZL_ADMIN_DOMAIN')}">退出</a></li>
        </ul>
    </div>
</div>

<!-- 边栏 -->
<div class="sidebar">
    <!-- 子导航 -->        
    <div id="subnav" class="subnav">
        
        <!-- 子导航 - 作品管理 -->
        <div class="subnav-book subnav-item" style="display:none;">
            <h3 class="subnav-book-manager">
                <i class="icon icon-fold"></i>作品管理
            </h3>
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-list" href="{:ZU('book/index/index', 'ZL_ADMIN_DOMAIN')}">作品列表</a></li>
            </ul>

            <h3 class="subnav-book-deny">
                <i class="icon icon-fold"></i>禁止榜单
            </h3> 
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-ban-list" href="{:ZU('deny/list/index', 'ZL_ADMIN_DOMAIN')}">禁止上榜作品列表</a></li>
                <li><a class="item item-ban-update" href="{:ZU('deny/update/index', 'ZL_ADMIN_DOMAIN')}">禁止最新更新出现列表</a></li>
                <li><a class="item item-ban-prevent" href="{:ZU('deny/prevent/index', 'ZL_ADMIN_DOMAIN')}">屏蔽列表</a></li>
            </ul>
        </div>
        <!-- /子导航 -->

        <!-- 子导航 - 作者管理 -->
        <div class="subnav-author subnav-item" style="display:none;">
            <h3 class="subnav-author-manager">
                <i class="icon icon-fold"></i>作者管理
            </h3>
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-list" href="{:ZU('author/index/select', 'ZL_ADMIN_DOMAIN')}">作者查询</a></li>
            </ul>
        </div>
        <!-- /子导航 -->

        <!-- 子导航 - 客服工具 -->
        <div class="subnav-kefu subnav-item" style="display:none;">
            <h3 class="subnav-kefu-check">
                <i class="icon icon-fold"></i>审核列表
            </h3> 
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-book-apply-vip" href="{:ZU('check/bookApplyVip/index', 'ZL_ADMIN_DOMAIN')}">作品签约审核</a></li>
                <li><a class="item item-book-full" href="{:ZU('check/BookFull/index', 'ZL_ADMIN_DOMAIN')}">全本申请审核</a></li>
                <li><a class="item item-book-apply" href="{:ZU('check/bookApply/index', 'ZL_ADMIN_DOMAIN')}">新增作品审核</a></li>
                <li><a class="item item-chapter" href="{:ZU('check/Chapter/index', 'ZL_ADMIN_DOMAIN')}">作品章节审核</a></li>
                <li><a class="item item-book-cover" href="{:ZU('check/bookCover/index', 'ZL_ADMIN_DOMAIN')}">作品封面审核</a></li>
                <li><a class="item item-book-close" href="{:ZU('check/BookClose/index', 'ZL_ADMIN_DOMAIN')}">封笔作品审核</a></li>
                <li><a class="item item-author-apply" href="{:ZU('check/authorApply/index', 'ZL_ADMIN_DOMAIN')}">作者申请审核</a></li>
                <li><a class="item" href="javascript:;">作者公告审核</a></li>
                <li><a class="item item-nickname" href="{:ZU('check/Nickname/index', 'ZL_ADMIN_DOMAIN')}">用户昵称审核</a></li>
            </ul>

             <h3 class="subnav-kefu-select">
                <i class="icon icon-fold"></i>查询工具
            </h3>
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-user-select" href="{:ZU('sel/user/index', 'ZL_ADMIN_DOMAIN')}">用户查询</a></li>
            </ul>
        </div>
        <!-- /子导航 -->

        {// 如果是网站管理员，则显示扩展网站的设置信息}
        <?php if($admin_info['gid'] == 1):?>
        <div class="subnav-setting subnav-item" style="display:none;">
            <h3 class="subnav-setting-system">
                <i class="icon icon-fold"></i>系统设置
            </h3>
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-ban-list" href="###">导航管理</a></li>
            </ul>

            <h3 class="subnav-setting-rbac">
                <i class="icon icon-fold"></i>RBAC设置
            </h3>
            <ul class="side-sub-menu subnav-off">
                <li><a class="item item-user-list" href="{:ZU('user/index', 'ZL_ADMIN_DOMAIN')}">管理员列表</a></li>
                <li><a class="item item-ban-list" href="###">用户组列表</a></li>
                <li><a class="item item-ban-list" href="###">权限列表</a></li>
            </ul>
        </div>
        <?php endif;?>

    </div>        
    <!-- /子导航 -->
</div>
<!-- /边栏 -->