<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span3">
		<include file="Public/sidebar" nav="book_manager"/>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
			<li><a href="{:ZU('book/index', 'ZL_AUTHOR_DOMAIN')}">作品管理</a><span class="divider">/</span></li><li><a href="{:ZU('book/book', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id']))}">{$book_info.bk_name}</a><span class="divider">/</span></li><li class="active">修改问卷调查<span class="divider">-</span><a href="###">[帮助指南]</a></li>
		</ul>

		{// 书的常用管理操作 }
		<include file="Public/actions" ac="new_survey" />
		
		<form action="{:ZU('survey/doAdd', 'ZL_AUTHOR_DOMAIN')}" class="form-horizontal" method="post">
			<div class="control-group">
				<label for="survey_name" class="control-label">调查标题</label>
				<div class="controls">
					<input type="text" id="survey_name" name="survey_name" placeholder="调查标题"/>
					<a href="###" data-content="尽量简明扼要" title="" data-toggle="popover" class="btn btn-info pop" href="#" data-original-title="标题填写小技巧：">说明</a>
				</div>
			</div>

			<div class="control-group">
				<label for="survey_item1" class="control-label">选项一</label>
				<div class="controls">
					<input type="text" id="survey_item1" name="survey_item1" placeholder="选项一"/>
				</div>
			</div>

			<div class="control-group">
				<label for="survey_item2" class="control-label">选项二</label>
				<div class="controls">
					<input type="text" id="survey_item2" name="survey_item2" placeholder="选项二"/>
				</div>
			</div>

			<div class="control-group">
				<label for="survey_type" class="control-label">选项类型</label>
				<div class="controls">
					<select name="survey_type" id="survey_type">
						<option value="1">单选</option>
						<option value="2">多选</option>
					</select>
				</div>
			</div>

			<button class="btn btn-danger">提交</button>
		</form>
	</div>
</div>
</block>