<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{$seo.title}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="__CSS__/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="__CSS__/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
	<style>
		body{padding-top:80px;}
	</style>
</head>
<body>
	  <!-- 公共头部 -->
	  <include file="Common@Public/header" />
	
    <div class="container">
    		
    	<div class="row">
    		<div class="span3">
    			<include file="Public/sidebar" nav="true_info"/>
    		</div>
    		<div class="span9">
    			
          <h3>补充个人真实信息</h3>
          <form action="{:U('user/center/doTrueInfo')}" class="form-horizontal" method="post">

            <div class="control-group">
              <label for="inputAuthorName" class="control-label">笔名</label>
              <div class="controls">
                <input type="text" name="name" placeholder="笔名" id="inputAuthorName" value="{$author_info.author_name}"/>
              </div>
            </div>

            <div class="control-group">
              <label for="inputIdCard" class="control-label">身份证号</label>
              <div class="controls">
                <input type="text" id="inputIdCard" name="idcard" placeholder="身份证号" value="{$author_info.user_idcard}" />
              </div>
            </div>

            <div class="control-group">
              <label for="inputTrueName" class="control-label">真实姓名</label>  
              <div class="controls">
                <input type="text" name="true_name" placeholder="真实姓名" id="inputTrueName" value="{$author_info.user_true_name}" />
              </div>
            </div>
                        
            <button class="btn btn-danger"><?php if(empty($author_info)):?>提交<?php else:?>修改<?php endif;?></button>
          </form>

    		</div>
    	</div>
	   
      <!-- 公共底部 -->
		  <include file="Common@Public/footer" />

    </div>


	<script src="__JS__/jquery.min.js"></script>
	<script src="__JS__/bootstrap.min.js"></script>
	<script src="__JS__/zlang.js"></script>
	<script type="text/javascript">
		jQuery(function(){

			$.debug("个人中心");
		});
	</script>
</body>
</html>