
<div class="sidebar-nav">
	<ul class="breadcrumb">
		<li class="active">当前操作作品名:【笑傲江湖】</li>
	</ul>
	<ul class="nav nav-list">
		<li <if condition="[nav] eq 'survey'">class="active"</if>><a href="{:ZU('book/survey/index', 'ZL_AUTHOR_DOMAIN', array('book_id'=>I('book_id')))}">新建调查</a></li>
		<li <if condition="[nav] eq 'volume'">class="active"</if>><a href="{:ZU('book/volume/index', 'ZL_AUTHOR_DOMAIN', array('book_id'=>I('book_id')))}">管理分卷</a></li>
		<li <if condition="[nav] eq 'book'">class="active"</if>><a href="">上传新章节</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">上传作品封面</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">章节修改调卷</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">修改作品信息</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">公众版存稿箱</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">书评管理</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">练习管理员</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">作品申请签约</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="">作品申请出版</a></li>
	</ul>
</div>