<div class="sidebar-nav">
	<ul class="breadcrumb">
		<li class="active">快捷操作</li>
	</ul>
	<ul class="nav nav-list">
		<li <if condition="[nav] eq 'info'">class="active"</if>><a href="{:ZU('author/manager/index', 'ZL_AUTHOR_DOMAIN')}">作者信息</a></li>
		<li <if condition="[nav] eq 'new_book'">class="active"</if>><a href="{:ZU('book/manager/create', 'ZL_AUTHOR_DOMAIN')}">新建作品</a></li>
		<li <if condition="[nav] eq 'book'">class="active"</if>><a href="{:ZU('book/manager/index', 'ZL_AUTHOR_DOMAIN')}">作品管理</a></li>
		<li <if condition="[nav] eq 'read'">class="active"</if>><a href="{:ZU('/index/read', 'ZL_AUTHOR_DOMAIN')}" target="_blank">作者必读</a></li>
	</ul>
</div>