@charset "utf-8";
/* CSS Document */
body,h1,h2,h3,h4,h5,h6,hr,p,pre,dl,dt,dd,ul,ol,li,th,td,form,fieldset,legend,button,input,textarea{margin:0;padding:0;}h1,h2,h3,h4,h5,h6,button,input,select,textarea{font-size:100%;font-weight:normal;}li{list-style:none;}img,fieldset{border:0;}table{border-collapse:collapse;border-spacing:0;}em,i{font-style:normal;}u,ins{text-decoration:none;}:focus{outline:none;}
body {font:12px/1.5 tahoma,arial,\5b8b\4f53;background:#fff;color:#8b8b8b;word-break:break-all;word-wrap:break-word;}
a {color:#3d84b8;text-decoration:none;}
a:hover {text-decoration:underline;}
.wrap {width:990px;margin:0 auto;}
.wrap, .clearfix {*zoom:1;}
.wrap:after, .clearfix:after {content:'';display:block;height:0;clear:both;}
.b {font-weight:bold;}
.u {text-decoration:underline;}
.clear{clear:both}
/*Topbar*/
.topbar{ overflow:hidden;*zoom:1; background:url(../images/book/topbar.jpg) repeat-x; height:33px; line-height:33px}
.topbar a{ color:#515151}
.topbar .usr_log{overflow:hidden;*zoom:1;float:left}
.topbar .usr_log dl{ float:left;width:520px;color:#515151}
.topbar .usr_log dl dt{width:98px;float:left;}
.topbar .usr_log .zhul_logo{ margin-top:8px; float:left; margin-right:10px}
.topbar .usr_log dl dd a{float:left;margin-left:30px;}
.topbar .usr_info{margin-left:48px;color:#ff6602}
.tpbar_r{ float:right}

/*Header*/
.header .top{ overflow:hidden;*zoom:1; margin:10px 0 3px 0}
.header .tp_logo { float:left;width:115px}
.header .tp_logo img{width:115px;height:65px}
.header .tp_lst {float:left; margin:0 12px;}
.header .tp_lst li{ position:relative}
.header .tp_lst .tplst_01 a{color:#0694ea}
.header .tp_lst .tplst_02 a{color:#dc0709}
.header .tp_lst .tplst_03 a{color:#688b09}
.header .tp_lst li i{position:absolute;left:-6px;top:7px; width:3px; height:3px}
.header .tp_lst .tplst_01 .ico_tp01{background:#0892eb;}
.header .tp_lst .tplst_02 .ico_tp02{background:#db060a;}
.header .tp_lst .tplst_03 .ico_tp03{background:#678c09}
.header .tp_adv {float:left}
.header .tp_adv img{width:512px;height:63px;}
.header .tp_search{float:right;width:246px;color:#666666 }
.header .tp_search .frm{border:1px solid #ebebeb; width:243px; height:24px; overflow:hidden;*zoom:1; margin-bottom:10px}
.header .tp_search .inp{ border:none; float:left; width:200px; height:15px; padding:5px}
.header .tp_search .btn_sear{ background:url(../images/book/btn_sear.jpg) no-repeat; width:16px; height:16px; float:right; margin:5px 5px 0}
.header .tp_search .key a{color:#666666; margin-left:7px}
.header .naver{ overflow:hidden;*zoom:1;background:#0894ec;}
.header .nav_box{height:40px; line-height:40px;}
.header .nav_lst li{float:left;text-align:center}
.header .nav_lst li a{ color:#ffffff; font-size:14px; padding:20px 15px}
.header .nav_lst li.active a{ background:#097bc2;}
.header .nav_tel{width:118px;height:45px; background: url(../images/book/tel_bg.jpg) no-repeat; }
.header .nov_nav{overflow:hidden;*zoom:1; background:#fcfcfc; margin:10px 0; height:34px; line-height:34px;}
.header .nov_nav a{color:#797979; padding:0 5px}
.header .nov_nav .leftlst{ float:left;width:336px}
.header .nov_nav .rightlst{ float:right;width:380px}
/*H3_tit*/
.main .h3_tit{ color:#535353;margin-bottom:10px; border-bottom:1px solid #ebebeb; padding-bottom:10px}
.main .h3_tit b{ border-bottom:3px solid #0993eb; padding-bottom:8px}
/*Page*/
.page{ overflow:hidden*zoom:1; width:206px; float:right}
.page .page_lst li{ float:left;color:#7f7f7f}
.page .page_lst li.first{ margin-right:5px}
.page .page_lst li.on a{ color:#000000}
.page .page_lst li a{ padding:0 6px; color:#7f7f7f}
/*Footer*/
.footer{ margin-top:20px}
.footer .foot_line{border-bottom:1px solid #e6e6e6}
.footer ul{ width:390px;height:30px; line-height:30px; margin:0 auto;}
.footer ul li{ float:left; padding:0 5px; color:#000000}
.footer ul li a,.footer p em{ color:#000000}
.footer p{ width:990px; text-align:center; line-height:30px; } 
.footer p a{  color:#666666}

