@charset "utf-8";
/* CSS Document */


/*Login*/
.reg_login{ overflow:hidden;*zoom:1}
.login_frm{width:362px; float:left; padding-right:60px; border-right:1px solid #dddddd; }
.login_frm .frm_lst{width:362px}
.login_frm .frm_lst .inp{ width:346px;background:#fff; padding:10px 7px;vertical-align:middle; color:#333333; font-size:14px;border:1px solid #cccccc;}
.login_frm .frm_lst .inp_01{ color:#999999}
.login_frm .frm_lst .frm_tip{ display:none;margin-top:10px}
.login_frm .frm_lst .frm_tip .txt{color:#F00;font:12px'宋体';}
.login_frm .frm_lst .err .frm_inp .inp{border:1px solid #F00;}
.login_frm .frm_lst .frm_chk{overflow:hidden;*zoom:1;}
.frm_chk label{ float:left}
.login_frm .frm_lst .frm_chk input{ vertical-align:-3px; margin-right:8px}
.frm_chk  a{ color:#0099ff}
.frm_chk .fgt_link{ float:right;}
.reg_tips{ float:left; width:425px;height:220px;padding-left:60px}
.reg_tips .acc_no{margin-bottom:20px; display:block; color:#333333}
.reg_tips .tird_acc{ margin-top:36px}
.reg_tips .tird_acc dd{ margin-top:20px}
.reg_tips .tird_acc dd a{ padding:0 3px}
.reg_tips .tird_acc dd img{ width:114px; height:45px}
/*Register*/
.frm_tab{ font-size:14px; font-weight:bold; margin-bottom:20px;}
.frm_tab .eml_btn{ padding-left:75px}
.frm_tab input{ margin-right:10px}

.way_tab{ overflow:hidden;*zoom:1; margin-bottom:20px;}
.way_tab li{ float:left; margin-right:30px; font-size:14px; overflow:hidden;*zoom:1; cursor:pointer}
.way_tab li i{ background:url(../images/user/radio.jpg) 0 -19px no-repeat;width:17px; height:17px; float:left; margin:3px 10px 0 0}
.way_tab li.on i{ background:url(../images/user/radio.jpg) 0 0 no-repeat; }
.way_tab li .tit{float:left}

.login_frm .frm_lst .frm_resed .frm_inp {overflow:hidden;*zoom:1; border:1px solid #cccccc}
.login_frm .frm_lst .frm_resed .frm_inp .re_inp{ width:206px; border:none; float:left;background:#fff; padding:10px 7px;vertical-align:middle;font-size:14px;}
.login_frm .frm_lst .err .resed_err{ border:1px solid #F00}
.frm_resed .resed_btn{ float:left;width:139px; height:36px;line-height:36px;background:#eaeaea; text-align:center;color:#333333; border-left:1px solid #cccccc; }
.frm_resed .resed_btn:hover{text-decoration:none}
.frm_resed .resed_btn:active{ color:#999999}
/*Msg_info*/
.msg_info{ padding:10px 0 0 45px}
.info_suc .tit{ overflow:hidden;*zoom:1;  padding-left:232px;}
.info_suc .suc_tit{ font-size:16px; font-weight:bold; float:left; padding:8px 0 0 10px}
.info_suc .suc_tit em{ color:#ff0000}
.info_suc .ico_tip{ background:url(../images/user/suc_ico.jpg) no-repeat; width:43px; height:43px; float:left}
.info_suc .txt{ width:736px; margin:25px 0 40px 0}
.info_suc .txt p{font:14px/30px '宋体';}
.info_suc .btn{ padding-left:200px; margin-bottom:40px}
.info_tip dt{ margin-bottom:5px}
.info_tip dd{ font:12px/25px '宋体';}
.info_tip a{ color:#0099ff}
/*Regsuc_frm*/
.regsuc_frm{ margin-top:80px}
.regsuc_frm .frm{ overflow:hidden;*zoom:1; margin-bottom:20px}
.regsuc_frm .frm .tit_nam{ float:left; width:168px; text-align:right; font-size:14px}
.regsuc_frm .frm_info{ float:left;}
.frm_sex .sex_lst{ overflow:hidden;*zoom:1}
.frm_sex .sex_lst li{width:76px; height:36px; background:#0894ec; color:#FFF; text-align:center; line-height:36px; font-size:14px; float:left; margin-right:10px}
.frm_sex .sex_lst li a{ color:#ffffff; display:block}
.frm_sex .sex_lst li a:hover{ text-decoration:none}
.frm_sex .sex_lst li.on{ background:url(../images/user/sex_bg1.jpg) no-repeat; width:76px; height:36px; color:#333333}
.frm_sex .sex_lst li.on a{ color:#333333}
.frm_xingq .frm_info{width:594px}
.frm_xingq .tag_del,.frm_xingq .tag_add{ font-size:12px}
.tag_del{ width:594px; border:1px solid #cccccc; height:auto; padding:5px 0; overflow:hidden;*zoom:1;white-space:nowrap;}
.tag{ overflow:hidden;*zoom:1;height:22px; float:left;margin:5px 8px}
.tag .span_l{border-top:1px solid #cccccc;border-bottom:1px solid #cccccc;border-right:1px solid #cccccc; overflow:hidden;*zoom:1; float:left;}
.tag .tag_nam{ float:left; padding:1px 5px}
.tag .ico_tag01{ background:url(../images/user/ico_bg01.jpg) 0 1px no-repeat; float:left; width:6px; height:22px}
.tag .ico_tag02{ background:url(../images/user/ico_bg01.jpg) 0 -22px no-repeat; float:left; width:7px; height:7px; margin:6px 10px 0 5px}
.tag .ico_tag03{ background:url(../images/user/ico_bg01.jpg) 0 -37px no-repeat; width:8px; height:8px; float:left; margin:6px 0 0 5px}
.tag_add{ overflow:hidden;*zoom:1}
.tag_add dl dt{ width:594px; margin:20px 0 15px 0}
.tag_add dl dd{ margin-left:-5px}
.btn_chag{ float:right; width:36px; margin-top:12px; font-size:12px}
.btn_chag a{color:#0894ec}
.regsuc_frm .frm_btn{ margin-left:168px; margin-top:53px}
/*Tab*/
.JQ_Box,.JQ_Frm{display:none}
/*User-center*/

/*User_cnt*/
.my_info{ overflow:hidden;*zoom:1;}
.my_info .form_lst{ margin-top:30px}
.my_info .form_lst a{ color:#0894ec}
.info_person{float:left; width:400px; overflow:hidden;*zoom:1}
.info_person .tit{ font:18px/30px 'Microsoft Yahei';color:#414141}
.info_person .form_lst .val{ width:236px; float:left; color:#666666}
.info_set{float:right;width:180px;overflow:hidden;*zoom:1}
.info_set .tit_h4{ font:14px/30px '宋体'; float:right; height:50px}
.info_set .ico_acc{ background:url(../images/user/usr_ico.jpg) 0 -27px no-repeat; width:12px; height:12px; display:inline-block; margin-right:5px}
.info_set .set_lst{ overflow:hidden;*zoom:1;width:180px; margin-top:30px}
.info_set .set_lst li{overflow:hidden;*zoom:1; padding-bottom:20px; float:right}
.info_set .set_tit{float:left; width:60px;}
.info_set .set_val{float:left; color:#666666}
.set_val i{ display:inline-block; vertical-align:-2px}
.set_val .ico_no_01{ background:url(../images/user/usr_ico.jpg) 0 -50px no-repeat;width:20px;height:12px;}
.set_val .ico_yes_01{ background:url(../images/user/usr_ico.jpg) 0 -71px no-repeat;width:20px;height:12px;}
.set_val .ico_yes_02{ background:url(../images/user/usr_ico.jpg) 0 -118px no-repeat;width:9px;height:13px;  margin-left:20px}
.set_val .ico_no_02{ background:url(../images/user/usr_ico.jpg) 0 -94px no-repeat;width:9px;height:13px; margin-left:20px}
.u_my_info .info_val{ overflow:hidden;*zoom:1;border-bottom:1px solid #dddddd; padding-bottom:30px}
.u_my_info .info_val .bar{ background:#dddddd; width:668px;height:15px;float:left;margin:5px 0; }
.u_my_info .info_val .tit{ float:left; width:70px; font-size:14px; float:left}
.u_my_info .info_val i{ background:url(../images/user/bar_bg.jpg) repeat-x; height:14px; display:inline-block}
.u_my_info .info_val .val_up{ color:#0894EC; margin-left:65px}

/*U_my_book*/
.u_my_book .hd_h3{ overflow:hidden;*zoom:1; margin:30px 0}
.u_my_book .hd_h3 .tit{ float:left; font-size:14px;}
.u_my_book .hd_h3 .chag_ctl{ float:right; width:40px}
.u_book_lst .bk_lst{ overflow:hidden;*zoom:1; margin:0 -16px;}
.u_book_lst .bk_lst li{ float:left; text-align:center;margin:0 12px;display:inline-block;}
.u_book_lst .bk_lst li a{ font-size:14px; color:#333333}
.u_book_lst .bk_lst li img{ width:120px; height:150px; margin-bottom:10px}
.u_book_lst .bk_lst li .pic{ border:1px solid #cccccc; padding:1px; display:block;width:120px; height:150px; margin-bottom:15px}
.u_book_search{ overflow:hidden;*zoom:1; margin-top:30px}
.u_book_search dl{ margin-left:88px; overflow:hidden;*zoom:1}
.u_book_search dl dt{float:left; font-size:14px; padding-bottom:80px; margin:5px 10px 0 0}
.u_book_search dl dd{ position:relative; width:350px; height:37px;border:1px solid #cccccc; float:left }
.u_book_search dl dd .serch_inp{ padding:5px; border:none; background:#ffffff; width:262px; height:27px; color:#999999}
.u_book_search dl dd .serch_btn{ position:absolute; right:0;top:0;width:88px; height:37px; background:#0894ec; font-size:14px; color:#ffffff; line-height:37px; text-align:center}

/*U_my_bshelf*/

.shelf_ctr{ overflow:hidden;*zoom:1; margin-top:10px}
.shelf_ctr .shelf_num{ font-size:12px; color:#999999}
.shelf_ctr .ctr_l{ float:left; overflow:hidden;*zoom:1}
.shelf_ctr .ctr_l label{ float:left; font-size:14px; margin:3px 0 0 18px}
.shelf_ctr .ctr_l .ctr_lst{ float:left}
.ctr_l label input{ vertical-align:-3px; margin-right:10px}
.ctr_l .ctr_lst a{ padding:5px 10px; display:inline-block; background:#0894ec; color:#ffffff; margin-left:10px}


/*U_fince_lst*/
.u_fince_lst{ width:100%; margin:0 auto;}
.u_fince_info{ margin:0 0 10px 138px }
.u_fince_info ul li{ font-size:14px; padding-bottom:20px;}
.fceinfo_td table{ border-top:1px solid #cccccc;} 

/*U_acc_lst*/
.u_acc_lst .frm_tit{ width:115px;}
.u_acc_lst .frm_btn{ margin-left:116px; margin-bottom:30px}
.u_acc_lst .ctr_iden{ margin-left:10px}
.form_acc_top .tip{ display:block; margin-top:10px}
.form_pwd_mdy{padding-top:30px}

/*U_phto_cnt*/
.u_phto_uplod{ overflow:hidden;*zoom:1; width:550px; margin:0 auto}
.phto_tit{ font-size:14px; margin-bottom:30px}
.phto_cnt .pic{ border:1px solid #cccccc; width:300px; height:300px; float:left;}
.phto_cnt .phto_info{ float:left; padding-left:30px; width:196px;}
.phto_info .pht_size{ color:#aa6a24; display:block; width:130px; margin-bottom:20px}
.phto_info .tit{ color:#666666; margin:5px 0}
.phto_info .size{ border:1px solid #cccccc; padding:1px; display:inline-block}
.phto_info dl{ overflow:hidden;*zoom:1}
.phto_info dl dd{ float:left; margin-right:30px}
.phto_info .pic_big img{ width:100px; height:100px}
.phto_info .pic_mid img{ width:61px; height:61px;}
.phto_info .pic_smal img{ width:42px; height:42px}
.u_phto_sys{ width:640px; margin:0 auto}
.pht_sys_lst{ overflow:hidden;*zoom:1}
.pht_sys_lst li{float:left; border:1px solid #cccccc; width:104px; height:104px; margin:10px 10px; text-align:center;}
.pht_sys_lst li img{ width:100px; height:100px; margin:2px}