<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span3">
		<include file="Public/sidebar" nav="book_manager"/>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
			<li class="active">作品管理</li>
		</ul>
		<div class="alert alert-info">注：点击“操作本书”即可对当前作品进行新章上传、旧章更改调卷等操作，操作菜单在左侧栏目中显示
"[]"括号内的数字为收藏人数！</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>书号</th>
					<th>书名</th>
					<th>最后章节</th>
					<th>最后更新时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>1111</th>
					<th>《笑傲江湖》</th>
					<th>第三十五章 独孤九剑</th>
					<th>2014-09-10 16:29:32</th>
					<th><a href="{:ZU('book/book', 'ZL_AUTHOR_DOMAIN', array('book_id'=>1111))}">管理</a></th>
				</tr>
				<tr>
					<th>1112</th>
					<th>《天龙八部》</th>
					<th>第三十二章 珍珑棋局</th>
					<th>2014-02-10 16:29:32</th>
					<th><a href="{:ZU('book/book', 'ZL_AUTHOR_DOMAIN', array('book_id'=>1112))}">管理</a></th>
				</tr>	    				
			</tbody>
		</table>	
	</div>
</div>
</block>