<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="manager" />
</block>

<block name="main">
<div class="work_lst">
  <div class="hd_usr">
      {// 不同性质的作品列表}
      <include file="Public/nav" lab="formal"/>
    </div>
    <div class="bd">                       
        <div class="w_lst_cnt">
          {// 作品列表}
          <?php if(!empty($book_list)):?>
          <?php foreach($book_list as $val):?>
           <dl>
              <dt>
                <p class="pic">
                   <a href="{:ZU('book/index', 'ZL_DOMAIN', array('book_id'=>$val['bk_id']))}" target="_blank"><img src="{:z_cover($val['bk_id'], $val['bk_cover'])}"/></a>
                </p>
                <span class="edit"><a href="{:ZU('book/edit', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$val['bk_id']))}">修改作品信息</a></span>  
              </dt> 
             <dd>
               <h3 class="tit">{$val.bk_name}</h3>  
                 <div class="cnt">
                  <p>最新更新：<a href="{:ZU('read/index', 'ZL_BOOK_DOMAIN', array('book_id'=>$val['bk_id'], 'ch_id'=>$val['bk_public_ch_id']))}" target="_blank">{$val.bk_public_name}</a> {$val.bk_now_date}</p>
                    <p>小说状态：{:ZC(C('BOOK.full_flag'), $val['bk_fullflag'])}</p>
                 </div>
                 <span class="ctr">
                   <a href="{:ZU('chapter/add', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$val['bk_id']))}" class="ctr_add">添加新章节</a>
                   <a href="{:ZU('chapter/index', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$val['bk_id']))}" class="ctr_chap">章节管理</a>
                   <a href="#" class="ctr_see">收入查询</a>
                 </span>
             </dd>
           </dl>
           <?php endforeach;?>
           <?php else:?>
           <div class="work_no">
              <span class="no_stoy">您目前还没有正式的作品！</span>
           </div>
           <?php endif;?>   
        </div>
    </div>
</div>      
</block>