@charset "utf-8";
/* CSS Document */
/*Main*/
/*Novel*/
.main .novel_cont{ overflow:hidden;*zoom:1;}
.novel_cont .novel{width:756px; float:left;margin-top:10px;}
.novel_cont .item_tit ul{ overflow:hidden;*zoom:1;border-bottom:1px solid #f8f8f8}
.novel_cont .item_tit ul li{ float:left; width:70px; height:35px; line-height:35px; text-align:center}
.novel_cont .item_tit ul li.active{ border-bottom:3px solid #0b93eb}
.novel_cont .item_tit ul li.active a{color:#0b93eb; font-weight:bold;}
.novel_cont .item_tit ul li a{ float:left; width:70px; color:#545454}
.novel .nov_item{ margin-top:10px;position:relative}
.novel .nov_item .item_view{ float:left;width:205px;}
.novel .nov_item .item_view img{width:205px;height:333px}
.novel .item_info{ float:left;padding-left:10px;overflow:hidden;*zoom:1;width:535px;
background:url(../images/nov_bg01.jpg) repeat-x;}
.item_info .hd_item{color:#3d3d3d; margin-top:23px;}
.nov_item .lianz{ background: url(../images/nov_img02.jpg) no-repeat; position:absolute; width:56px;height:56px;right:0;top:0;}
.item_info .hd_item .h2_tit{ display:inline-block; font-size:24px; margin-right:15px}
.item_info .bd_item .item_nav{color:#333333; border:1px solid #ebebeb; background:#fafafa; width:490px; margin:5px 0}
.item_info .bd_item .item_nav .navlst_01 li{height:32px; line-height:32px; margin:0 21px}
.item_info .bd_item .navlst_01{overflow:hidden;*zoom:1;}
.item_info .bd_item .navlst_01 li{ float:left;width:80px}
.item_info .bd_item .cont{ width:500px; line-height:24px; color:#8b8b8b; margin-bottom:28px}
.item_info .bd_item .new_inf{}
.item_info .bd_item .new_inf .new{ color:#f03d1d}
.item_info .bd_item .new_inf .chap{ color:#535353; padding:0 10px}
.item_info .bd_item .new_inf .date{ color:#8b8b8b}
.item_info .bd_item .navlst_02{overflow:hidden;*zoom:1; margin-top:15px; }
.item_info .bd_item .navlst_02 li{ float:left;width:88px; height:44px; line-height:44px; text-align:center; background:#f7f7f7;border-left:1px solid #ebebeb}
.item_info .bd_item .navlst_02 li a{ color:#535353}
.item_info .bd_item .navlst_02 li.on{ background: url(../images/on_bg01.jpg) no-repeat; width:112px;height:44px}

/*Nov_read*/
.nov_read{ margin:10px 0; overflow:hidden;*zoom:1; border:1px solid #ebebeb; padding:10px}
.nov_read .red_tit em{ color:#535353;}
.nov_read .red_tit em.tit_cap{ padding:0 40px 0}
.nov_read .red_tit p{ margin-top:10px; height:24px; line-height:24px; padding-bottom:36px}
.nov_read .red_vip{ float:right}
.nov_read .red_vip a{color:#ff0101}
/*Nov_commt*/
.nov_commt{border:1px solid #ebebeb; padding:15px; margin-bottom:40px}
.nov_commt .hd_commt{ border-bottom:1px solid #ebebeb; margin-bottom:10px; position:relative; height:30px}
.nov_commt .hd_commt .h3_tit_l{color:#535353;}
.nov_commt .hd_commt .h3_tit_l b{border-bottom:3px solid #0993eb; padding-bottom:1px}
.nov_commt .h3_l{ float:left}

.nov_commt .hd_commt .tab_comm{position:absolute;right:0;}
.nov_commt .hd_commt .tab_comm li{ float:left; background:#fbfbfb; width:74px; height:28px; text-align:center; line-height:28px; border-top:1px solid #ebebeb;border-left:1px solid #ebebeb;border-right:1px solid #ebebeb; margin-left:10px}
.nov_commt .hd_commt .tab_comm li.on{ border-left:1px solid #ebebeb;border-right:1px solid #ebebeb;border-top:3px solid #0894ec;}

.bd_commt .commt_box{ overflow:hidden;*zoom:1; margin-bottom:35px;}
.commt_box .commt_dl{}
.commt_dl .tit_toux{ float:left; border:1px solid #ebebeb; padding:1px;width:36px; height:36px}
.commt_dl .tit_toux img{ width:36px; height:36px}
.commt_box a{ color:#8c8c8c;}
.commt_box .commt_tit{ background:#f8f8f8; height:33px; line-height:33px; display:block;}
.commt_box .commt_tit .pra{ color:#535353; padding:0 15px}
.commt_tit .vip,.recom,.commt_tot .apply{ color:#ff0101; padding:0 5px}
.commt_box .nam{ padding:0 5px;color:#0084ff}
.commt_box .commt_tit .date{ float:right; padding-right:10px}
.commt_box .comm_info{ margin:10px 0 0 50px; line-height:26px}
.commt_box .red_vip{ float:right}
.commt_box .reply{ color:#3d3d3d; border:1px solid #ebebeb; padding:15px; height:auto; margin-bottom:15px}
.commt_tot{ overflow:hidden;*zoom:1; margin-bottom:15px}
.commt_tot .tot{float:left; width:316px}
.commt_tot .tot strong{ color:#010101; margin:0 5px}
/*Message*/
.message{ overflow:hidden;*zoom:1}
.message .mess_sel .sel{ height:25px}
.message .mess_inp{ width:625px; border:1px solid #e3e3e3; height:15px; padding:5px;}
.message .mess_bioq{ overflow:hidden;*zoom:1; margin:10px 0}
.message .mess_bioq .biaoq_lst{ float:left}
.message .mess_bioq .biaoq_lst a{ padding:0 5px}
.message .mess_bioq .biqoq_sel{ float:left}
.message .mes_textar textarea{ width:703px; height:115px; padding:5px}
.message .btn_sumt{ background: url(../images/btn_sumit.jpg) no-repeat; width:107px; height:25px; float:right; margin-top:10px}
/*Novel_r*/
.novel_r{ float:right; width:220px; margin:20px 0 0 10px}
.r_sec_01{ margin-bottom:10px}
.r_sec_01 .bdlst_01 li{ margin-bottom:20px}
.r_sec_01 .bdlst_01 li em{ color:#ea0001; padding-left:65px}
.r_sec_01 .oth{margin:0 -15px -15px -15px;}
.r_sec_01 .othlst{background:#f1f1f1; overflow:hidden;*zoom:1; }
.r_sec_01 .othlst li{ float:left;word-break:break-all;height:46px;width:54px; text-align:center;}
.r_sec_01 .othlst li a{ display:inline-block; width:35px; padding-top:6px; }
.r_sec_01 .othlst li.on{ background:url(../images/on_bg02.jpg) no-repeat;width:56px;height:45px}
.r_sec_02 .nam strong{ color:#525252}
.r_sec_02 .bdlst_02{ border-bottom:1px solid #ebebeb; margin:20px 0}
.r_sec_02 .bdlst_02 li{ height:34px; line-height:34px}
.r_sec_02 .oth a{color:#808080}
.r_sec_03{ margin-bottom:10px}
.r_sec_03 .bdlst_03 .tit{ color:#535353; margin-bottom:10px}
.r_sec_03 .bdlst_03 li{ overflow:hidden;*zoom:1; padding:6px 0 6px 5px;}
.r_sec_03 .bdlst_03 li span{float:left}
.r_sec_03 .bdlst_03 .w_01{width:42px;}
.r_sec_03 .bdlst_03 .w_02{width:91px;}
.r_sec_03 .bdlst_03 .w_03{width:50px;}
.r_sec_03 .bdlst_03 li i{ display:inline-block; width:16px; height:16px; text-align:center;color:#ffffff }
.r_sec_03 .bdlst_03 li .ico_num_01{ background:#02a7e1;}
.r_sec_03 .bdlst_03 li .ico_num_02{ background:#ee3f22}
.r_sec_03 .bdlst_03 li.on{ background:#0894ec; color:#ffffff}
.r_sec_03 .bdlst_03 li.on .ico_num_01{ background:#ffffff; color:#02a7e1}
.r_sec_04{ overflow:hidden;*zoom:1; margin-bottom:10px;}
.r_sec_04 .bdlst_04{ margin:0 -6px}
.r_sec_04 .bdlst_04 li{ float:left; width:90px; margin:4px; text-align:center}
.r_sec_04 .bdlst_04 li a{ color:#868686}
.r_sec_04 .bdlst_04 li img{ width:90px; height:110px}
.r_sec_05 .bdlst_05 li{ margin-bottom:9px; padding-left:5px }
.r_sec_05 .bdlst_05 li a{ color:#333333;display:inline-block}
.r_sec_05 .bdlst_05 li a em{ color:#666666; padding-right:8px}
.r_sec_05 .bdlst_05 li.on{ background:#0894ec;}
.bdlst_05 li.on a{padding:8px 0;}
.bdlst_05 li.on a,.bdlst_05 li.on a em{ color:#ffffff}
{}
/*Store*/
.bor_sty{ border:1px solid #ebebeb; padding:10px 15px}
.store { margin-top:40px}
.store .storlst{ overflow:hidden;*zoom:1; margin:0 -15px}
.store .storlst li{ float:left; margin-left:10px; text-align:center;}
.store .storlst li .pic{ border:1px solid #cccccc; padding:2px; display:block}
.store .storlst li .stor_nam{ color:#24529d; font-weight:bold}
.store .storlst li img{ width:123px; height:135px}
/*Map*/
.map { overflow:hidden;*zoom:1; margin-top:10px}
.maplst ul{}
.maplst ul li{ float:left; width:159px;}
.maplst ul li a{ color:#525252}
/*Link*/
.link{ margin-top:10px}
.bd_link{ margin-bottom:20px;}
.bd_link a{ color:#535353; padding:0 5px}

/*目录页样式*/
/*内容部分*/
.content{ width:990px;  margin:0 auto; }
.cont_main{ border:1px solid #ECECEC; border-bottom:0px;}
.top_name{ width:100%; position:relative; overflow:hidden;}
.top_name h2{ text-align:center; font-size:24px; font-family:"微软雅黑"; color:#3C3C3C; font-weight:normal;}
.top_name ul{ text-align:center;}
.top_name ul li{ display:inline; padding-right:20px; font-size:13px; color:#8A8A8A;}
.top_name ul li a{ color:#0894EC;}
.top_name p{ position:absolute; right:0px; top:14px; color:#3F3F3F; font-size:13px; height:21px; line-height:21px;}
.top_name p span{ display:block; float:left;}
.top_name p a{border:1px solid #ECECEC; height:19px; line-height:19px; width:63px; text-align:center; font-size:12px; color:#8A8A8A; float:left; margin-left:5px; display:inline-block;}
.cont_main{ margin-top:10px; overflow:hidden;clear:both;}
.cont_main h3{ width:970px; border-bottom:1px solid #ECECEC; height:41px; line-height:38px; padding:0 9px; }
.cont_main h3 cite{ font-style:normal; font-size:14px; color:#343434; border-bottom:3px solid #0793EA; width:170px; float:left; padding-left:10px;}
.cont_main h3 cite a{ color:#2885C2; font-size:13px; font-weight:normal;}

.cont_main h3 span{ display:block; float:right;font-weight:normal; font-size:13px;}
.cont_main h3 span a{ color:#575757; padding:0 5px; font-size:13px; font-weight:normal;}
.cont_main p{ color:#8B8B8B; line-height:21px; text-indent:2em; font-size:13px; padding:0 20px; overflow:hidden;}
.ct_list{ border-top:1px solid #ECECEC; overflow:hidden; clear:both;}
.ct_list a{ border-bottom:1px solid #ECECEC; border-left:1px solid #ECECEC; display:inline-block; width:318px; height:46px; line-height:46px; color:#8B8B8B; font-size:13px; padding-left:10px;}
.ct_list a:hover{ background:#0894EC; color:#fff; font-weight:bold;}
.ct_list a.bod_lt{ border-left:0px; width:320px;}

/*内容部分*/
.wy_cont{ width:868px; border:1px solid #ECECEC; margin:0 auto; position:relative; padding-bottom:80px; margin-top:30px; background:#ffffff}
.cont_nav{ overflow:hidden; clear:both; height:59px; line-height:59px; border-bottom:1px solid #ECECEC;}
.cont_nav h2{ text-align:right; font-size:16px; font-family:"宋体"; color:#018FFD; width:110px;float:left; padding-right:30px;}
.cont_nav ul.nav_ct{ float:left;}
.cont_nav ul.nav_ct li{ display:inline; padding-right:20px; font-size:13px; color:#8A8A8A;}
.cont_nav ul.nav_ct li a{ color:#505050;}
.cont_nav p.bct{ color:#3F3F3F; font-size:13px; display:inline; position:absolute; right:175px;}
.cont_nav p.bct b{ float:left; display:block; color:#8A8A8A; font-weight:normal;}
.cont_nav p.bct.bct span{ display:inline-block;border:1px solid #ECECEC; float:left; margin-top:19px;}
.cont_nav p.bct a{ height:19px;width:19px;display:inline-block;}
.cont_nav p.bct a.a1{ background:#F4F9FD}
.cont_nav p.bct a.a2{ background:#E9FBFF}
.cont_nav p.bct a.a3{ background:#FFFFED}
.cont_nav p.bct a.a4{ background:#EEFAEE}
.cont_nav p.bct a.a5{ background:#FCEFFF}
.cont_nav p.bct a.a6{ background:#FFFFFF}
.cont_nav p.bct a.a7{ background:#F2F2F2}
.cont_nav strong{ font-weight:normal; float:left; color:#8A8A8A; font-size:13px; position:absolute; right:123px;}
/*查询条件*/
.dr_cd{ float:left;  margin-top:19px; position:absolute; z-index:1000; right:50px; top:19px;+top:0px; _top:19px; margin:0px 0 0 10px;}
.dr_cd li div{ font-weight:normal;}
select{width:70px; height:25px; overflow:hidden; display:inline; float:left;}
.dropselectbox h4{height:19px;  font-size:12px;line-height:19px; border:solid 1px #ECECEC;background: url(jt_select.jpg) no-repeat scroll right center #fff; font-weight:normal; padding-left:8px; margin:0px;}
.dropselectbox ul{ border-top:0px;width:68px; font-size:12px;border:solid 1px #ECECEC; margin:0px;*margin:-21px;_margin:0px;display:none; _margin-left:16px;*margin-left:16px;}
.dropselectbox ul li{height:20px; line-height:20px; float:left; width:100%; cursor:pointer; background:#fff; _text-indent:10px;*text-indent:10px;}
/*正文*/
.top_name1{ padding-top:25px;}
.top_name1 h2{ text-align:center; font-size:24px; font-family:"微软雅黑"; color:#0090FF; font-weight:normal; height:50px; line-height:50px;}
.top_name1 ul.nam_zc,.page ul,.fd_btoom ul{ text-align:center;}
.top_name1 ul.nam_zc li,.page ul li,.fd_btoom ul li{ display:inline; margin:0 0px 0 10px;font-size:13px; color:#8A8A8A; font-size:14px;}
.top_name1 ul.nam_zc li a,.page ul li a,.fd_btoom ul li a{ color:#3E3E3E;}
.top_name1 p{ padding:0 45px; margin-top:23px; line-height:26px; text-indent:2em; color:#363636;}
.page{ margin-top:150px;}
.fd_btoom{ margin-top:20px;}
.page ul li a,.fd_btoom ul li a{ font-size:14px;}
.fd_btoom ul li a{ padding-right:15px;}

.left_fc{ position:absolute; top:10px; left:-42px; background:url(../images/xiazai.jpg) no-repeat; width:41px; height:235px;}
.left_fc ul li,.left_fc ul li a,.right_fc ul li,.right_fc ul li a{ width:41px; height:55px; margin-bottom:5px; display:block; float:left; text-indent:-9999em;}
.right_fc{ position:absolute; top:400px; right:-42px; background:url(../images/song.jpg) no-repeat; width:41px; height:235px;}
