<ul>
  <li><a href="#" target="_blank">关于逐浪</a></li>
  <li>|</li>
  <li><a href="#" target="_blank">商务合作 </a></li>
  <li>|</li>
  <li><a href="#" target="_blank">客服中心</a></li>
  <li>|</li>
  <li><a href="#" target="_blank">网站地图</a></li>
  <li>|</li>
  <li><a href="#" target="_blank">友情链接</a></li>
</ul>
<div class="foot_line"></div>
<p>申明：逐浪网提供
  <b><a href="#">都市小说</a></b>，<b><a href="#">玄幻小说</a></b>，<b><a href="#">武侠小说</a></b>，<b><a href="#">网游小说</a></b>等作品欣赏，做最优秀的小说阅读网站。未经书面许可不得复制转载。<br>
  <em>客服电话：025-66670800</em>　Copyright 2011 Zhulang.Com, All Rights Reserved 版权所有<a href="#">逐浪网</a> <br>
</p>