<extend name="Public/base" />

{// 主体内容}
<block name="main">
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">这是内容</div>
    </div>
        <div id="main" class="main">
			<div class="main-title cf">
				<h2>签约申请管理 - 待签约作品</h2>
			</div>
			<!-- 标签页导航 -->
			<div class="tab-wrap">
				<ul class="tab-nav nav">
					<li data-tab="tab1" class="current">
						<a href="javascript:void(0);">基础</a>
					</li>
				</ul>
				<div class="tab-content">
				<!-- 表单 -->
				<form id="form" action="{:ZU('BookApplyVip/doCheck', 'ZL_ADMIN_DOMAIN')}" method="post" class="form-horizontal">
					<!-- 基础文档模型 -->
					<div id="tab1" class="tab-pane in tab1">
						<div class="form-item">
							<label class="item-label">
								审核状态<span class="check-tips"></span>
							</label>
							<div class="controls">
								<select name="status">
									<?php foreach(C('BOOK.check_status') as $key=>$val):?>
									<option value="{$key}">{$val}</option>
									<?php endforeach;?>
								</select>
							</div>
						</div>

						<div class="form-item">
							<label class="item-label">
								签约类型<span class="check-tips">A\B\C\D\E\X\Y\Z</span>
							</label>
							<div class="controls">
								<select name="bk_commision">
									<?php foreach(C('BOOK.commision') as $key=>$val):?>
									<option value="{$key}">{$val.name}</option>
									<?php endforeach;?>
								</select>
							</div>
						</div>

			            <div class="form-item cf">
			                <label class="item-label">
			                	意见<span class="check-tips">签约意见</span>
			                </label>
			                <div class="controls">
			                    <label class="textarea input-large">
			                    	<textarea name="action_comments" placeholder="反馈给作者的签约意见"></textarea>
			                    </label>                    
			            	</div>
			            </div>        
			        </div>
					
					<div class="form-item cf">
						<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
						<a class="btn btn-return" href="javascript:history.go(-1);">返 回</a>
					</div>
					<input type="hidden" name="id" value="{$data.id}" />
					<input type="hidden" name="bk_id" value="{$data.bk_id}" />
				</form>
				<!-- /表单 -->
				</div>
			</div>
			<!-- /标签页导航 -->
        </div>
        <div class="cont-ft">
            <div class="copyright">
                <include file="Public/footer" />
            </div>
        </div>
    </div>
</block>

<block name="js">
<script  type="text/javascript">
jQuery(function($){
	
	showTab();
	$.menu('book', 'check', 'book-apply-vip');
});

</script>
</block>