<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span2">
		<include file="Public/sidebar" nav="book_vip_manager"/>
	</div>
	<div class="span10">
		<ul class="breadcrumb">
			<li class="active">签约申请管理</li>
		</ul>
		<div class="alert alert-info">注：xxx</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>书号</th>
					<th>书名</th>
					<th>作者</th>
					<th>字数</th>
					<th>申请时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<?php foreach($data as $key=>$val):?>
				<tr>
					<th>{$val.bk_id}</th>
					<th>《{$val.bk_name}》</th>
					<th>{$val.author_name}</th>
					<th>{$val.bk_size}</th>
					<th>{$val.create_time}</th>
					<th><a data-target="#modal-edit" data-toggle="modal" data-backdrop="static" href="{:ZU('bookApplyVip/check', 'ZL_ADMIN_DOMAIN', array('book_id'=>$val['bk_id']))}">审核</a></th>
				</tr>
				<?php endforeach;?>
			</tbody>
		</table>
		<div class="pagination">{$page}</div>
	</div>
</div>
</block>