<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span3">
		<include file="Public/sidebar" nav="book_apply_manager"/>
	</div>
	<div class="span9">
		<ul class="breadcrumb">
			<li><a href="{:ZU('bookApply/index', 'ZL_AUTHOR_DOMAIN')}">待审核作品管理</a><span class="divider">/</span></li><li><a href="{:ZU('bookApply/book', 'ZL_AUTHOR_DOMAIN', array('apply_id'=>I('apply_id')))}">{$book.bk_name}</a><span class="divider">/</span></li><li class="active">上传新章节</li>
		</ul>

		{// 书的常用管理操作 }
		<include file="Public/apply_actions" ac="createNewChapter" />
		
		<form action="{:ZU('bookApplyChapter/doAdd', 'ZL_AUTHOR_DOMAIN', array('apply_id'=>I('apply_id')))}" method="post" class="form form-horizontal">
			<div class="control-group">
				<label for="input_chapter_name" class="control-label">章节标题</label>
				<div class="controls">
					<input type="text" name="ch_name" placeholder="章节标题" id="input_chapter_name"/>
					<span class="text-warning">允许上传的最大章节数 {:C('APPLY.max_chapter_num')} 章</span>
				</div>
			</div>
			<div class="control-group">
				<label for="input_chapter_content" class="control-label">章节内容</label>
				<div class="controls">
					<textarea class="input-block-level span5" name="ch_content" id="input_chapter_content" rows="18" placeholder="新增作品首次上传章节总字数需在2000至30000间"></textarea>
				</div>
			</div>
			
			<button class="btn btn-danger">提交</button>
		</form>						
	</div>
</div>
</block>