<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="manager" />
</block>

<block name="main">
<div class="a_roll_cnt">
<div class="hd_usr">
    <ul class="hd_nav">
         <li class="on">
          <a href="javascript:;">{$book_info.bk_name}</a>
       </li>
    </ul>
    <a href="javascript:history.go(-1);" class="colr_02 sbtn_back">返回 >></a>
  </div>
  <div class="bd">
      <div class="a_sect_lst">
          <include file="Book/action" ac="volume"/>
          <div class="autr_nav_line"></div>            
      </div>
    <div class="a_roll_lst">
         <div class="shel_filt">
          <span class="filt_l">&nbsp;</span>
          <span class="filt_r">
            <a href="javascript:;" class="sbtn_06">新增分卷</a>
          </span>
         </div>                                                
      </div>     
      <form action="{:ZU('volume/doAdd', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id']))}" method="post">
       <ul class="form_lst">
        <li class="frm">
            <span class="frm_tit">新增的分卷名：</span>
            <div class="frm_val">
                <span class="val">
                  <input type="text" name="name" value=""  placeholder="卷名" autocomplete="off" />
                </span>
            </div>
         </li>
         <li class="frm">
            <span class="frm_tit">分卷描述：</span>
            <div class="frm_val">
                <span class="val">
                  <textarea name="intro" placeholder="分卷描述"></textarea>
                </span>
            </div>
         </li>
         <li class="frm">
            <div class="frm_inp frm_btn">
              <!-- <a href="#" class="sbtn sbtn_03">确定修改</a>  -->
                <button>确定添加</button>
            </div>
         </li>
       </ul>   
       </form>                
  </div>
</div>  
</block>

<block name="js">
<script type="text/javascript">
  jQuery(function($){
    

  });
</script>
</block>