<extend name="Public/base" />

<block name="sidebar">
<include file="Public/sidebar" tab="manager" />
</block>

<block name="main">
<div class="a_roll_cnt">
<div class="hd_usr">
    <ul class="hd_nav">
         <li class="on">
          <a href="javascript:;">{$book_info.bk_name}</a>
       </li>
    </ul>
    <a href="javascript:history.go(-1);" class="colr_02 sbtn_back">返回 >></a>
  </div>
  <div class="bd">
      <div class="a_sect_lst">
          <include file="Book/action" ac="volume"/>
          <div class="autr_nav_line"></div>            
      </div>
    <div class="a_roll_lst">
         <div class="shel_filt">
          <span class="filt_l">
            作品：{$book_info.bk_name} 共<em class="colr_01">{$assign.total_volume}</em>卷
          </span>
          <span class="filt_r">
            <a href="{:ZU('volume/add', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id']))}" class="sbtn_06">新增分卷</a>
              <a href="#"class="sbtn_06">分卷垃圾箱</a>
          </span>
         </div>   
          <div class="u_td roll_td">
            <table>
                <tr>
                      <th>卷名</th>
                      <th>分卷介绍</th>
                      <th>本卷章节</th>
                      <th>操作</th>        
                  </tr>
                  <?php foreach($volume_list as $key=>$val):?>
                  <?php if(!is_array($val)):?>
                    <tr>
                      <td>{$val}</td>
                      <td>系统默认卷</td>
                      <td>-</td>
                      <td class="t_d">
                        -
                      </td>
                    </tr>
                  <?php else:?>
                    <tr>
                      <td>{$val.volume_name}</td>
                      <td>{$val.volume_intro}</td>
                      <td>{$val.chapter_total}</td>
                      <td class="t_d">
                        <?php if($val['volume_id'] > 0):?>
                        <a href="{:ZU('volume/edit', 'ZL_AUTHOR_DOMAIN', array('book_id'=>$book_info['bk_id'], 'volume_id'=>$val['volume_id']))}">修改</a>
                        <?php else:?>
                        -
                        <?php endif;?>
                      </td>
                    </tr>
                  <?php endif;?>
                  <?php endforeach;?>
              </table>
          </div>                                              
      </div>                    
  </div>
</div>  
</block>

<block name="js">
<script type="text/javascript">
  jQuery(function($){
    

  });
</script>
</block>