<extend name="Public/base" />

<block name="main">
<div class="row">
	<div class="span3">
		<include file="Public/sidebar" nav="volume"/>
	</div>
	<div class="span9">
		<ul class="nav nav-pills">
			<li class="disabled"><a href="###">管理分卷</a></li>
			<li><a href="###" class="pop" data-content="一部作品系统默认分为三个分卷<br/>10垃圾箱，100作品相关，200 正文<br/>垃圾箱卷分卷序号为“-10”，垃圾箱卷为系统保留卷，不能象其他分卷一样被执行修改分卷号操作或者被执行删分卷操作<br/>自己新建分卷，可以设定为101 作品前言,102 作品资料<br/>200 第一卷,201 第二卷，完全可以自由组合<br/>分卷序号是排列分卷顺序的唯一标志，当新增的分卷序号比现有分卷序号大就会排后面，小就会放前面。" data-original-title="分卷使用指南" data-toggle="popover" data-placement="bottom">使用帮助</a></li>
		</ul>	
	</div>
</div>
</block>