<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>会员注册 - 邮箱注册</title>
<link href="{:z_css('login')}" type="text/css" rel="stylesheet">
<link href="{:z_css('login_base')}" type="text/css" rel="stylesheet">
<script src="{:z_js()}"></script>
<script src="{:z_js('zlang')}"></script>
</head>
<body>
<div class="container">
  <div class="wrap">
    <div class="header">
      <h1 class="logo"><a href="{:C('ZL_WWW')}"><img src="{:z_img('logo')}" /></a></h1>
      <h2 class="top_sub">会员注册</h2>
    </div>
    <div class="main">
      <div class="reg_login">
        <div class="login_frm JQ_Rtab">
             <div class="frm_way">
             	 {// 注册按钮}
                <include file="p_reg_sidebar" nav="email"/>                 
             </div>
             <form action="{:ZU('register/doEmail')}" method="post" onsubmit="return $.checkRegsiterEmail();">
            <ul class="frm_lst JQ_Box JQ_Frmlst" style="display:block">
              <li class="frm">
                <div class="frm_inp">
                    <input type="text" name="email" placeholder="请输入电子邮箱" class="inp i-email"/>  
                </div>
                <div class="frm_tip i-email-error">
                  <span class="txt"></span>
                </div>
              </li>
              <li class="frm">
                <div class="frm_inp">
                    <input type="password" name="password" value="" placeholder="设置密码" class="inp i-password"/>  
                </div>
                <div class="frm_tip">
                  <span class="txt"></span>
                </div>
              </li>
              <li class="frm">
                <div class="frm_inp">
                    <input type="password" name="repassword" value="" placeholder="设置密码" class="inp i-repassword"/>  
                </div>
                <div class="frm_tip">
                  <span class="txt"></span>
                </div>
              </li>
              <li class="frm">
                <div class="frm_inp frm_chk">
                   <label><input type="checkbox" class="iagree" name="iagree" value="1"/>我已阅读并同意</label>
                   <a href="http://passport.kongzhong.com/rules.jsp" target="_blank">逐浪网注册协议?</a>
                </div>
              </li>
              <li class="frm">
                <div class="frm_tip" style="display:block;"><span class="txt error-info"></span></div>
              </li>
              <li class="frm">
                <div class="frm_inp">
                  <a href="javascript:;" onclick="$('form:first').submit();" class="sbtn_01">提交注册</a>
                </div>
              </li>
            </ul>
             </form>
        </div>
        <div class="reg_tips">
        	<include file="right_action" />
        </div>
      </div>
    </div>
    <div class="footer">
    	<include file="footer" />
    </div>
  </div>
</div>

<script src="{:z_js('zl.reg')}"></script>
<script type="text/javascript">
  
  var userErr = new Array();

  jQuery(function($){

    $('.i-email').blur(function(){
      $.checkEmail('{:ZU('ajax/user/checkEmail')}', 'i-email');
    });

  });
</script>
</body>
</html>