<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册成功，激活邮箱 - 邮箱注册</title>
<link href="{:z_css('login')}" type="text/css" rel="stylesheet">
<link href="{:z_css('login_base')}" type="text/css" rel="stylesheet">
<script src="{:z_js()}"></script>
<script src="{:z_js('zlang')}"></script>
</head>
<body>
<div class="container">
  <div class="wrap">
    <div class="header">
      <h1 class="logo"><a href="{:C('ZL_WWW')}"><img src="{:z_img('logo')}" /></a></h1>
      <h2 class="top_sub">会员注册</h2>
    </div>
    <div class="main">
      <div class="reg_login">
        <div class="msg_info">
        	<div class="info_suc">
            	<div class="tit"><i class="ico_tip"></i><span class="suc_tit">感谢您的注册，请立即激活账号</span></div>
                <div class="txt"><p>为了确保您的邮箱不被他人恶意使用，我们已经给您的邮箱 {$assign.email} 发送了一封注册用户验证邮件，
在收到邮件后，请点击邮件内容中的激活链接即可完成账号激活。</p></div>
                <div class="btn"><a href="{$assign.goto_mail}" class="sbtn_01" target="_blank">立即查收邮件</a></div>
            </div>
            <div class="info_tip">
            	<dl>
                	<dt>温馨提示：</dt>
                    <dd>
                    	  1、如果未找到我们发送的邮件，请稍候或检查您的垃圾邮件。<br />
                        2、如果5分钟未收到邮件，请点击<a href="javascript:;">重新发送激活邮件。</a><br />
                        3、如果重新发送邮件后还长时间未收到邮件，请换个邮箱试试。
                    </dd>
                </dl>
            </div>
        </div>
        
      </div>
    </div>
    <div class="footer">
    	<include file="footer" />
    </div>
  </div>
</div>
</body>
</html>
