<ul class="way_tab JQ_Rbtn">
  <li <if condition="[nav] eq 'phone'">class="on"</if> onclick="window.location.href='{:ZU('register/phone')}'"> 
     <i class="ico_rad01"></i><span class="tit">手机注册</span>
  </li>
  <li <if condition="[nav] eq 'email'">class="on"</if> onclick="window.location.href='{:ZU('register/email')}'"> 
     <i class="ico_rad01"></i><span class="tit">邮箱注册</span>
  </li>
  <li <if condition="[nav] eq 'index'">class="on"</if> onclick="window.location.href='{:ZU('register/index')}'"> 
     <i class="ico_rad01"></i><span class="tit">个性化注册</span>
  </li>
</ul>