<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册成功 - 用户注册 - 逐浪网</title>
<link href="{:z_css('login')}" type="text/css" rel="stylesheet">
<link href="{:z_css('login_base')}" type="text/css" rel="stylesheet">
<script src="{:z_js()}"></script>
<script src="{:z_js('zlang')}"></script>
</head>
<body>
<div class="container">
  <div class="wrap">
    <div class="header">
      <h1 class="logo"><a href="{:C('ZL_WWW')}"><img src="{:z_img('logo')}" /></a></h1>
      <h2 class="top_sub">会员注册</h2>
    </div>
    <div class="main">
      <div class="reg_login">
        <div class="msg_info">
        	<div class="info_suc">
            	<div class="tit">
                    <i class="ico_tip"></i>
                    <span class="suc_tit">恭喜您，账号<em>{$user_info.user_name}</em>注册成功！</span>
                </div>
                <div class="regsuc_frm">
                  <form action="{:ZU('user/account/doFullInfo')}" method="post">
                	<ul class="frm_lst JQ_Tab">
                    	<li class="frm frm_sex">
                        	<span class="tit_nam">您的性别：</span>
                            <div class="frm_info">
                            	  <ul class="sex_lst JQ_Btn">
                                	  <li class="on" data-val="1"><a href="#">男</a></li>
                                    <li data-val="0"><a href="#">女</a></li>
                                </ul>
                            </div>
                            <input type="hidden" name="sex" value="1" class="i-sex"/>
                        </li>
                        <li class="frm frm_xingq">
                        	<span class="tit_nam">您对下面哪些作品感兴趣：</span>
                            <div class="frm_info JQ_Frm" style="display:block">
                            	 <div class="tag_del JQ_Del tag_container" style="display:none;"></div>
                               <div class="tag_add ">
                                   <dl>
                                    <dt>你可能感兴趣的小说类型:</dt>
                                      <dd class="tag_add_container">loading...</dd>
                                  </dl>                      
                               </div>
                                <span class="btn_chag"><a href="javascript:;">换一换</a></span>  
                            </div>
                        </li>
                       <li class="frm frm_btn">
                            <div class="frm_info">
                            	<a href="javascript:;" onclick="$('form:first').submit();" class="sbtn_01">保持并进入我的会员中心</a>
                            </div>
                        </li> 
                    </ul>    
                    </form>            
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <div class="footer">
    	<include file="footer" />
    </div>
  </div>
</div>
<script src="{:z_js('zl.reg')}"></script>
<script src="{:z_js('zl.user')}"></script>
<script type="text/javascript">
  jQuery(function($){

    var get_like_tag_url = '{:ZU("ajax/class/getLikeTag")}';

    $.getLikeTag(get_like_tag_url);

    $('.btn_chag').on('click', function(){
        $.getLikeTag(get_like_tag_url);
    });

    $.chooseSex();
    
  });
</script>
</body>
</html>
