<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册成功</title>
<link href="Front/css/user.css" type="text/css" rel="stylesheet">
<link href="Front/css/base.css" type="text/css" rel="stylesheet">
<script src="Front/js/jquery-1.8.1.min.js"></script>
<script src="Front/js/public.js"></script>
</head>
<body>
<div class="container">
  <div class="wrap">
    <div class="header">
      <h1 class="logo"><a href="#"><img src="Front/images/logo.jpg" /></a></h1>
      <h2 class="top_sub">会员注册</h2>
    </div>
    <div class="main">
      <div class="reg_login">
        <div class="msg_info">
        	<div class="info_suc">
            	<div class="tit">
                    <i class="ico_tip"></i>
                    <span class="suc_tit">恭喜您，账号<em>15655555555</em>注册成功！</span>
                </div>
                <div class="regsuc_frm">
                	<ul class="frm_lst JQ_Tab">
                    	<li class="frm frm_sex">
                        	<span class="tit_nam">您的性别：</span>
                            <div class="frm_info">
                            	<ul class="sex_lst JQ_Btn">
                                	<li class="on"><a href="#">男</a></li>
                                    <li><a href="#">女</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="frm frm_xingq">
                        	<span class="tit_nam">您对下面哪些作品感兴趣：</span>
                            <div class="frm_info JQ_Frm" style="display:block">
                            	<div class="tag_del JQ_Del">
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠武侠武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠武侠武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                    <span class="tag JQ_Tag">
                                       <i class="ico_tag01"></i>
                                       <span class="span_l">
                                         <span  class="tag_nam">武侠</span>
                                         <a  href="javascript:;" class="ico_tag02"></a>
                                       </span>
                                    </span>
                                </div> 
                                <div class="tag_add">
                                	<dl>
                                    	<dt>你可能感兴趣的小说类型:</dt>
                                        <dd>
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                  <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span>
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                   <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span  class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span> 
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                   <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span  class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span>
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                   <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span  class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span>
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                   <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span  class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span>
                                           <span class="tag JQ_Tag">
                                               <i class="ico_tag01"></i>
                                               <span class="span_l clearfix">
                                                   <a  href="javascript:;" class="ico_tag03"></a>
                                                  <span  class="tag_nam">武侠武侠</span>
                                               </span>
                                           </span>                                    
                                      </dd>
                                    </dl>                                    
                                </div> 
                                <span class="btn_chag"><a href="#">换一换</a></span>  
                            </div>
                        </li>
                       <li class="frm frm_btn">
                            <div class="frm_info">
                            	<a href="#" class="sbtn_01">保持并进入我的会员中心</a>
                            </div>
                        </li> 
                    </ul>                
                </div>
            </div>
        </div>
        
      </div>
    </div>
    <div class="footer">
    	<p>Copyright © 2014 ZHULANG.COM All rights Reserved 逐浪网版权所有<br />
           客服电话：025-66670800
        </p>
    </div>
  </div>
</div>
</body>
</html>
